<!DOCTYPE HTML>
<html>
<head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{% block title %} - Learning Today{% endblock %}</title>
    {% endblock %}
</head>

<body>
<div class="wrapper">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}

    <div class="push"></div>
</div>
    {% block footer %}{% endblock %}
</body>
</html>