textarea {
    resize: none;
}

#page_name {
    font: 32px Verdana;
    margin: 10px 25px 20px;
}
.right {
        float: right;
}
#tabs {
        border: 0;
}

#body{
        width: 300px;
}
#search, .search_course {
        width: 20em;
        height: 31px;
        padding-left: 15px;
        font-style: italic;
        border: 1px solid #25a6c6;
        margin-right: -6px;
        margin-left: -7px;
}

.drop {
    width: 21em;
    padding-left: 15px;
    font-style: italic;
    border: 1px solid #25a6c6;
    /*background: #98dbeb;*/
    margin-right: -6px;
    margin-left: -1px;
}

select {
        border: 1px solid #25a6c6;
        background: #fff;
        height: 35px;
        margin: 0;
}
#add_user, #add_course, #add_comment, #add_lecture{
        padding: 5px 40px 5px;
        margin-left: 50px;
}
#add_course{
        padding: 5px 31px 5px;
}

.ButtonAdmin {
        padding: 5px;
        border: 1px solid #25a6c6;
        background: #25a6c6;
        color: #d6d6d6;
}
.ButtonAdmin:hover {
        background: #98dbeb;
        color: #000;
        border: 1px solid #98dbeb;
}
.ButtonAdmin:active {
        background: #fff;
}
.button_search{
        font-style: italic;
        padding: 7px;
        margin: 0;
        cursor: pointer;
}
#ok{
                font-style: italic;
        padding: 7px;
}
#add_category_button {
        padding: 4px 8px 5px 8px;
        font-weight: bold;
        margin: 0;
}
#new {
    background-color:#ffffff;
    border:1px solid #25a6c6;
    margin-left: 5px;
    width: 256px;
    list-style-type: none;
    position: relative;

    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 2px;
        padding-bottom: 2px;
}
.category_dropdown {
        height: 28px;
        width: 250px;
        margin-top: -1px;
}
#new_category{
        float: left;
        height: 26px;
        border: 1px solid #25a6c6;
        width: 190px;
        font-style: italic;
        padding-left: 5px;
        margin-right: -6px;
}
.course_description {
        height: 115px;
        width: auto;
    border-bottom:1px solid #25a6c6;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
}


.course_image {
        height: 110px;
        width: 130px;
    border:1px solid #25a6c6;
    float: left;
    margin-right: 10px;
}
.course_header {
    /*border:1px solid #25a6c6;*/
        width: 600px;
        height: 84px;
        overflow: hidden;
        float: left;
}

.home_img {
    width: 40px;
    height: 25px;
    border: 1px solid black;
    float: left;
    margin-top: -2px;
}

.course_name, .course_author {
        font: 1.3em Garamond;
        margin: 0;
        color: #25a6c6;
        font-weight: bold;
}
.course_text {
        font: 1em Garamond;
        margin: 0;
        line-height:1;
}


.course_right {
        height: 100px;
        width: 70px;
    /*border:1px solid #25a6c6;*/
    line-height: 200%;
}
.course_right a {
    font-style: italic;
}
#UsersTable tr:nth-child(odd), #CommentsTable tr:nth-child(odd) {
        background-color:#98dbeb;
}
#UsersTable tr:nth-child(even), #CommentsTable tr:nth-child(even) {
        background-color:#ffffff;
}
#UsersTable, #CommentsTable {
        font-family: Verdana, Sans-Serif;
        font-size: 12px;
        margin-top: 45px;
        width: 100%;
        text-align: left;
        border-spacing: 0px;
        border-color: #98dbeb;
        border-bottom: 10px;
}
#UsersTable th, #CommentsTable th {
        font-size: 12px;
        font-weight: bold;
        padding: 10px 8px;
        background-color:#ffffff;
        border-bottom: 1px solid #006196;
        border-top: 1px solid #006196;
        cursor: pointer;
}
#UsersTable td, #CommentsTable td {
        padding: 8px;
        border-bottom: 1px solid #006196;
}
#UsersTable tr:hover, #CommentsTable tr:hover {
        background-color:#25a6c6;

}

#action_header {
        width: 100%;
        height: 70px;
}
#action_select {
        float: left;
}
#choosed_action {
        height: 31px;
}

.dialog-form .text { margin-bottom:12px; width: 95%; padding: 4px; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
#selectedRole { margin-bottom:12px; width: 98%; padding: 4px; }


.ui-tabs {
        position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
        padding: .2em;
}
.ui-tabs .ui-tabs-nav {
        margin: 0;
        padding: .2em 3em 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
}
.ui-tabs .ui-tabs-nav li {
        list-style: none;
        float: left;
        position: relative;
        top: 0;
        margin: 1px .4em 0 .4em;
        border-bottom-width: 0;
        padding: 0;
        white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li a {
        float: left;
        padding: .8em 2.5em;
        text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: -1px;
        padding-bottom: 6px;
        font-weight: bold;
}

.ui-tabs .ui-tabs-panel {
        display: block;
        border-width: 0;
        padding: 1em 1.4em;
        background: none;
}

.admin-color-pick-add{
        position: relative;
        margin-left: 5px;
        float: left;
        width: 25px;
        height: 28px;
        border: 1px solid #25a6c6;
        z-index: 100;
}

.editUser, .removeUser {
    cursor: pointer;
}

.removeUser {
    width: 80px;
}

.photo-param{
    width: 130px;
    height: 110px;
}


.lecture_description {
        width: auto;
    border-bottom:1px solid #25a6c6;
    margin-top: 5px;
    padding: 0px 5px 0px 5px;
    overflow: hidden;
}

.lecture_header {
    /*border:1px solid #25a6c6;*/
        width: 825px;
        overflow: hidden;
        float: left;
        margin-bottom: 5px;
}

.lecture_text{
        font: 1em Garamond;
        margin: 0;
        line-height:1;
        width: 800px;
        visibility: hidden;
        position: absolute;
        height: 250px;
}

.lecture_name_saved {
        width: 600px;
    border:0;
    font-size: 15px;
        margin: 0;
        color: #25a6c6;
        font-weight: bold;
}

.lecture_name_edit {
        width: 600px;
    font-size: 15px;
        margin: 5px 0;
        border: 1px solid #25a6c6;
}

.lecture_author {
        font: 1em Garamond;
        margin: 0;
        color: #25a6c6;
        font-weight: bold;
}

.number_saved {
        float: left;
        width: 28px;
    border:0;
    font: 1.3em Garamond;
        margin: 0;
        color: #25a6c6;
        font-weight: bold;
}

.number_edit {
        width: 28px;
    font: 1.3em Garamond;
        margin: 5px 0;
        border: 1px solid #25a6c6;
}

.label_lec {
        visibility: hidden;
        position: absolute;
        width: 100px;
        margin: 5px 0;
}

#label_courses {
        margin-right: 150px;
}

#label_courses {
	margin-right: 150px;
}

.max_lines {
        font: 1em;
        margin: 0;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        line-height: 1.2em;
}

.max_lines:after {
    content: '...';}

.dot {
        float: left;
        width: 3px;
        font-size: 1em;
}

.validation{
         border: 1px solid transparent;
         visibility: hidden;
         position: absolute;
         float: right;
         width: 620px;
         margin: 5px 0px;
         font-size: 1em;
         margin-left: 10px;
         padding-left: 10px;
}

#select_courses {
        width: 200px;
        margin-bottom: 10px;
}

#selection {
        width: 250px;
        float: left;
        margin-right: 25px;
}

#radio_buttons{
        width: 250px;
        float: left;
}

#add_lecture_title{
        float: right;
        font-size: 25px;
        margin: 0;

}
#title_container {
        width: 100%;
        height: 30px;
}