/*@font-face {
    font-family: "Verdana-Regular";
    src: url(static/verdana.ttf) format("truetype");
}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -10em;
}
.footer, .push {
height: 7.6em;
}
.centr {
    width: 1260px;
    margin: auto;
    overflow:hidden;
}
#content {
    font-family:Verdana;
    overflow:hidden;
}
#form_div {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: auto;
	border: 2px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
