.course {
    height: 60px;
    border: 1px solid #25a6c6;
    background: #f2f2f2;
    
    padding: 10px 0 0 10px;
    vertical-align: middle;
    margin-bottom: 40px;
    overflow: hidden;
}
.course_title {
    font: 2.5em Verdana;
    color: #006196;
    margin: 0;
    display: inline;
}
.right {
    float: right;
    font: 1.2em Verdana;
    margin-top: 10px;
}
.subscribed {
    margin: 14px 20px 0px 20px;
    color: rgb(90, 90, 90);
    font-style: italic;
}
.lecture_title {
    font: 2em Verdana;
    /*text-decoration: underline;*/
    margin: 0px 0em 0.5em 0em;
    color: #006196;
    border-bottom: 1px solid #25a6c6;
    width: 992px;
}
.tabbed_box {
    margin: 15px auto 15px auto;
}
ul.lectures li {
    list-style-type: decimal;
}
ul.tabs {
    float: left;
    width: 230px;
    display: block;
    position: relative;
    top: 0;
    margin: 1px auto 10px !important;
    padding:0;
    text-decoration: none;

}
ul.tabs li {
    list-style:none;
}
ul.tabs li a {
    background-color:#ffffff;
    color:#282e32;
    font-size:14px;
    font-family:Verdana;
    border:1px solid #25a6c6;
    display: inline-block;
    margin-left: 5px;
    width: 200px;
    list-style-type: none;
    display: block;
    position: relative;
    padding: 8px 15px !important;
    margin-top: -1px;
    text-decoration: underline;

}
ul.tabs li a:hover {
    background-color:#98dbeb;
    cursor: pointer;

}
ul.tabs li a.active {
    background-color:#98dbeb;
    margin-left: 0;
    font-weight:bold;
    width: 205px;
}
.content {
    background-color:#ffffff;
    padding:10px;
    border:1px solid #25a6c6;
    font: 1em Verdana;
    margin-left: 236px;
    position: relative;
    padding: 15px 15px 20px 15px;
    text-align:justify;
}
.course_description {
    font: 1.3em Verdana;
}

.hidden_tab { display:none; }

.Button {
    font: 1em Verdana;
    text-decoration: underline;
    /*font-style: italic;*/
    /*padding: 5px;
border: 1px solid #25a6c6;
background: #25a6c6;
color: #d6d6d6;*/
    margin: 14px 20px 0px 20px;

}
.Button:hover {
    /*background: #98dbeb;
color: #000;
border: 1px solid #98dbeb;*/
    cursor: pointer;
    font-weight: bold;
}

.navi {
    display: inline-block;
    width: 320px;
    text-align: center;
}
.comment_header {
    /*border:1px solid #25a6c6;*/
    width: 990px;
    height: auto;
    min-height: 116px;
    border-bottom:1px solid #25a6c6;
    padding: 0px 0px 10px 1px;
    margin-bottom: 10px;
}
.user_image {
    height: 100px;
    width: 100px;
    /*border:1px solid #25a6c6;*/
}
.course_header {
    /*border:1px solid #25a6c6;*/
    width: 570px;
    height: 84px;
    overflow: hidden;
    float: left;
}
.course_name, .course_author {
    font: 1.3em Garamond;
    margin: 0;
    color: #25a6c6;
    font-weight: bold;
}
.comment_author_details {
    height: auto;
    width: 100px;
    float: left;
    margin-right: 10px;
    text-align: center;
}
.comment_author {
    font: 0.9em Garamond;
    margin: 0;
}
#date {
    margin-left: 110px;
}
.comment_text {
    font: 1em Verdana;
    line-height:1;
    display: table;
}
.comment_name {
    font: 1.3em Garamond;
    margin: 0;
    color: #25a6c6;
    font-weight: bold;
}
form {
    border: 0;
}
select {
    border: 1px solid #25a6c6;
    background: #fff;
    height: 26px;
    width: 300px;
    margin: 0;
}
#title {
    width: 400px;
    height: 22px;
    border: 1px solid #25a6c6;
    padding: 2px;
}
#body {
    width: 800px;
    resize: none;
}
.validateTips {
    /*display: inline;*/
    margin-left: 110px;
}
#submit_comment {
    position: relative;
    left: 812px;
    padding: 5px 20px;
    font-size: 1.2em;
}
.ui-widget-content {
    border: 1px solid #25a6c6;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
}
.ButtonAdmin {
    padding: 5px;
    border: 1px solid #25a6c6;
    background: #25a6c6;
    color: #d6d6d6;
}
.ButtonAdmin:hover {
    background: #98dbeb;
    color: #000;
    border: 1px solid #98dbeb;
    cursor: pointer;
}
.ButtonAdmin:active {
    background: #fff;
}

.test_question {
    width: 962px;
    background: #98dbeb;
    border:1px solid #25a6c6;
    background: #f2f2f2;
    padding: 0px 10px 20px 20px;
    margin-bottom: 20px;
    line-height: 200%;
}
.question_title {
    font-weight:bold;   
}
.display_none {
    display: none;
}
.tips_wrapper {
    width: 400px;
    display: block;
    padding-left: 110px;
    /*border:1px solid #25a6c6;   */
}
.validateTips {
    margin: 0;
}