#page_name {
    font: 32px Verdana;
    margin: 10px 25px 0px;
}
/*Courses blocks*/
.brick {
    float: left;
    width: 580px;
    height: 200px;
    margin: 20px 20px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 15px;
    color: #424242;
    background: gray;
    /*transition: 0.4s ease;.*/
    overflow: hidden;
}
/*#bricks{
    top: 10px;
    width: 1260px;
    height: auto;
}*/
.course-image {
	width: 243px;
	height: 162px;
	margin: 18px 10px;
	float: left;
	background-color: green;
}
.course_name {
    margin: 18px 10px 10px;
    font: bold 17px Garamond;
    text-transform: uppercase;
    text-decoration: underline;
}
.course-description {
	width: 300px;
	height: 110px;
	margin: auto;
	overflow: hidden;
	float: left;
    text-shadow: 2px 2px 3px gray;
}
.profile-courses-image{
    height: 162px;
    width: 243px;
}
.about_wrapper {
    width: 800px;
    line-height: 140%;
    margin-left: 50px;
}
.numbers {
    list-style-type: decimal;
}