
.pages li{
    display: inline;
}
.pages {
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
}

#CommentsTable{
    width: 100%;
}
th.body {
    width: 30%;
}
th.title, th.lecture, th.date, th.ban,  th.status,{
    width: 12%
}
th.author{
    width: 5%
}
th.active {
    width: 5%;
}
.com_id {
    visibility: hidden;
    z-index: -3;
    position: absolute;
}

#action {
    float: left;
}

#feed_header {
    height: 70px;
    width: 100%;
}

#search_comment_key, #search_lecture_key {
    float: left;
}

#select_wrapper, #select_lecture_wrapper {
    width: 320px;
    height: 70px;
    float: left;
}

#button_comment_search{
    float: left;
}


.dates {
    width: 144px;
    height: 31px;
    padding-left: 15px;
    font-style: italic;
    border: 1px solid #25a6c6;
    float: left;
    margin-left: -1px;
    
}

#search_comment, #search_lecture {
	width: 305px;
	height: 31px;
	padding-left: 15px;
	font-style: italic;
	border: 1px solid #25a6c6;
        margin-left: -1px;
}

#select_action{
    height: 31px;
}

#button_action{
    margin-left: -7px;
}

#add_comment, #add_lecture{
    float: left;
    padding: 11px 56px;
    color: #D6D6D6;
}

#add_comment:hover, #add_lecture:hover {
    color: #000;
	border: 1px solid #25a6c6;
}
.drop1 {
    width: 321px;
    padding-left: 15px;
    font-style: italic;
    border: 1px solid #25a6c6;
    margin-left: -1px;
}

.page{
    color: #D6D6D6;
    background-color: #25a6c6;
    border: 1px solid #25a6c6;
}

.page:hover {
    color: #000;
    border: 1px solid #25a6c6;
    background: #98dbeb;
}
.active_page{
    background-color: #006196;
}

