.footer{
    width:100%;
    min-width: 1260px;
/*    height:200px;*/
    background-color:#404242;
    color:#D6D6D6;
    font: 16px Verdana;
    bottom:0;
    margin-top:38px;
    position:relative;
}

#footer-center{
    height: auto;
}

#footer-left{
    float:left;
    list-style: none;
    padding: 0;
    font: 16px Verdana;
}

#footer-left li{
    display: inline;  
}
#footer-left li a {
    color: #d6d6d6;
    text-decoration: none;
    margin: 10px;
}

#footer-left li a:hover {
    color: #fff;
}

#footer-right{
    float:right;
    font: 16px Verdana;
}
.follow_div {
    height:35px;
    width:35px;
    margin:1px;
    background-size: auto;
    background-size: 100% 100%;
    float: left;
}
#facebook {
    background-image: url('../img/facebook.png');
}
#twitter {
    background-image: url('../img/twitter.png');
}
#google {
    background-image: url('../img/googlep.png');
}