.header {
    width:100%;
    height: auto;
    width: auto;
    background-color: #404242;
    margin: auto; 
    padding: 0;
    min-width: 1260px;
}

#header_centr {
    width: 1260px;
}

.logo {
    height: 60px;
    width: 250px;
    background-size: 100% 100%;
    float: left;
    background-image: url('../img/logo.png');
    margin:5px;
}

#header-right{
    float:right;
    font-family: Verdana;

    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    color: #d6d6d6;
}

#header-right li{
    display: inline;
}
#header-right li a {
    color: #d6d6d6;
    padding: 4px;
}

#header-right li a:hover {
    color: #fff;
}

.sign_wrapper{
width: 354px;
margin-left: auto;
margin-right: auto;
padding: 15px;
border-radius: 4px;
border: 1px solid orange;
box-shadow: grey  8px 8px 8px;
position: absolute;
top: 47px;
right: 0;
display: none;
padding-top: 0px;
z-index:1;
background: #777;
}

.sign_wrapper input{
position:relative;
display: block;
width: 330px;
height: 30px;
line-height: 24px;
margin: 10px;
padding-left: 6px;
font-size: 100%;
border: 1px solid #bbbbbb;
border-radius: 5px;
}

.submit-button{
    background-color: #5bb75b;
    color: #fff;
    text-shadow: 0 -1px 0;
    border: 2px solid orange;
}

noscript {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    font-size: 2em;
    box-shadow: inset 0px 0px 45px 15px rgba(0,0,0,.5);
}

noscript p {
    padding: 2em;
    margin: 2em;
}