a{
text-decoration: underline;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -10em;
}

#content {
font-family:Verdana;
overflow:hidden;
}

#page_name {
    font: 32px Verdana;
    margin: 10px 25px 20px;
}

.right {
float: right;
}
#main_box_container a {
}
.main-banner {
    position: relative;
    width: 1260px;
    height: 241px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0px;
    margin: 10px;
    background: url(../img/main-banner.png);
    background-size: 100% 100%;
    padding: 0px;
}

#main_box_container{
    width: 1260px;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    overflow: hidden;
}
.main-banner .frontpage-search {
    position: relative;
    left: 2%;
    top: 60%;
    display: block;
    width: 460px;
    height: 50px;
    padding: 0px;
}

.frontpage-search form {
    margin: 0px;
    padding: 0px;
}

.brick {
    cursor: pointer;
    position: relative;
    float: left;
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 18px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 15px;
    color: #fff;
    transition: 0.4s ease;

}

.home_img {
    width: 81px;
    height: 54px;
    border: 1px solid black;
    float: left;
    margin: 0 10px 10px 0;
}

.red{
    background: red;
}
.tester{
    position: relative;
    float: right ;
    width: 360.66px;
    height: 90px;
    margin: 12px;
    padding: 18px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0.9rem;
    color: #fff;
    background: gray;
    transition: 0.4s ease;
    display: none;
}
.block{
    display:block;
}
.none{
    display:none;
}

p.brick_bottom {
    vertical-align:middle;
    padding-top:50px;
    text-align:center;
    text-transform:uppercase;
    font:bold 18px Garamond;
    color: #FFF;
    transition: 0.4s ease;
}
p.brick_new_bottom {
    vertical-align:middle;
    padding-top:50px;
    text-align:center;
    text-transform:uppercase;
    font:bold 18px Garamond;
    color: #FFF;
    display: none;
    transition: 0.4s ease;
}

p.name {
    padding-top:2px;
    text-align:center;
    text-transform:uppercase;
    font:bold 17px Garamond;
    text-decoration: underline;
    color: #FFF;
    margin: 12px 0 7px 0;
    float:left;
    width: 250px;
    transition: 0.4s ease;
}

.course_a {
    text-decoration: none;
}

p.descript {

    vertical-align:middle;
    padding-top:0px;
    text-align:justify;
    font: 13px Garamond;
    color: #FFF;
    margin: 0;
    height: 10px;
    text-decoration: none;
}

.subscription {
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
    
}

.subscription p{
    color: white;
    font-weight: bold;    
    text-decoration: none;
    margin: 0;
}

.subscription p:hover {

    text-decoration: underline;
}

.activity {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

.number {
    margin: 0;
    float: left;
    margin-right: 3px;
    font-weight: bold;
    }



.back_home{
    background: red;
}

#brickzero {
    text-decoration: none;
}

#search-result {
    float: left;
    width: 300px;
    font-size: larger;
    padding: 30px;
    color: red
}

.outer-wrapper{
padding-top: 60px;
}

.sign_wrapper{
width: 354px;
margin-left: auto;
margin-right: auto;
padding: 15px;
border-radius: 4px;
border: 1px solid orange;
box-shadow: grey 8px 8px 8px;
position: absolute;
top: 47px;
right: 0;
display: none;
padding-top: 0px;
z-index:1;
background: #777;
}
.hower_menu{

}
/*
.sign:hover .hower_menu{
display: block;
}
*/

form{
position: relative;
display: block;
width: 350px;
}

input{
position:relative;
display: block;
width: 330px;
height: 30px;
line-height: 24px;
margin: 10px;
padding-left: 6px;
font-size: 100%;
border: 1px solid #bbbbbb;
border-radius: 5px;
}


.submit-button{
    background-color: #5bb75b;
    color: #fff;
    text-shadow: 0 -1px 0;
    border: 2px solid orange;
}
#log{
    border: 2px solid orange;
}
#pass{
    border: 2px solid orange;
}

.white{
    background: #ffffff;
}

.search_class{
    background-color: #25A6C6;
}
.search_not_found{
    background-color: red;
}

.bricke_not_found{
    cursor: pointer;
    position: relative;
    float: left;
    width: 400px;
    height: 90px;
    margin: 10px;
    padding: 18px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 17px;
    color: #fff;
    transition: 0.4s ease;
    display: block;
    z-index: 0;
}

.bricke{
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    float: left;
    width: 400px;
    height: 90px;
    margin: 10px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 17px;
    color: #fff;
    background: gray;
    transition: 0.4s ease;
    display: block;
    z-index: 0;
    visibility: hidden;
}

.first_wrap{
    border-color: white;
    height: 54px;
    padding: 18px;
    color: #FFFFFF;
}

.input_c{
    cursor: pointer;
    position: relative;
    float: left;
    height: 90px;
    width: 400px;
    padding: 0px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 17px;
    color: #fff;
    background: gray;
    transition: 0.4s ease;
    display: block;
    z-index: 0;
}

.wrap_descript{
    margin: 5px;
    width: 390px;
    height: 70px;
}
