body {
	background:url(../img/gradient_texture.jpg) repeat-x scroll 0 0 #f5f6f7;
	font:12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	color:#333;
	-webkit-font-smoothing:antialiased;
}

a {
	color:#222;
}

a:link,a:visited,a:active {
	text-decoration:none;
}

#main {
	margin:55px auto;
	width:960px;
}

.content {
	display:inline-block;
}

#books-edit {
	width:760px;
	height:500px;
}

#books {
	width:760px;
	height:500px;
}

/* Books Wrapper */
.book {
	margin:10px;
	padding:10px;
	display:inline-block;
	cursor:pointer;
}

.book:hover {
	box-shadow:0 0 5px 1px rgba(80,174,255,0.7);
	transition:.5s;
}

.book-cover {
	width:100px;
	height:150px;
	background-color:#666;
}

.book p {
	padding:0;
	margin:0;
}

.book-category {
	margin-top:15px;
	font-size:2em;
	font-weight:700;
}

.book-title {
	font-weight:700;
}

.book-author {
	font-size:.8em;
	font-weight:100;
	color:rgba(0,0,0,0.6);
}

/* SIDEBAR */
#sidebar {
	position:absolute;
	width:200px;
	box-shadow:-5px 0 5px -4px rgba(0,0,0,0.3);
	padding:15px;
}

#sidebar:hover {
	box-shadow:-5px 0 5px -4px rgba(80,174,255,0.7);
	transition:.5s;
}

#account {
	box-shadow:0 5px 1px -4px rgba(0,0,0,0.1);
	padding-bottom:1px;
}

#sidebar ul {
	margin-top:5px;
	margin-bottom:0;
}

#sidebar ul li {
	list-style:none;
	cursor:pointer;
	padding:0 5px;
}

#account-login {
	text-align:center;
	font-weight:700;
}

#account-title,#category-title {
	font-size:1.25em;
	font-weight:700;
	padding-bottom:0;
	margin-bottom:0;
}

#category-active {
	background-color:rgba(0,0,0,0.1);
	border-radius:10px;
	padding:0 5px;
	box-shadow:0 0 1px 1px rgba(0,0,0,0.2) inset;
}

/* SEARCH BOOK */
#search-book-wrapper {
	width:480px;
	margin:10px auto;
}

#search-book-content {
	width:400px;
}

#search-book-value,#search-book-key,#search-book-submit {
	font-size:1.2em;
	height:24px;
	vertical-align:middle;
}

#search-book-key {
	-webkit-appearance:menulist-button;
	border:solid 1px;
}

#search-results-header {
	text-align:center;
	font-size:2em;
	font-weight:700;
}

/* MESSAGE */
#message {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:105;
	text-align:center;
	font-size:100%;
	color:#fff;
	padding:10px 0;
	background-color:rgba(0,193,24,0.8);
}

#message span {
	text-align:center;
	font-size:2em;
	width:95%;
	float:left;
}