ul {
	list-style-type: none;
}
input {
    width: 180px;
    font-size: 1em;
}
a:hover {
    text-decoration: underline;
    cursor: pointer;
}
.clear_input {
	border: 0;
}
#content {
	margin-top: 20px;
}
#image {
	width: 200px;
	float: left;
    margin-left: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
}
#desc {
	width: 980px;
	float: right;
	padding-left: 10px;
	margin-bottom: 5px;
    margin-right: 40px;
}
#user_status {
    width: 150px;
    font-size: 1.3em;
    float: right;
    text-align: center;
    color: #F0F0F0;
}

/*Button*/
.edit_profile {
	width: 150px;
	height: 40px;
	border: 1px solid #25a6c6;
	background: #25a6c6;
	color: #e2e2e2;
	font-size: 0.95em;
	text-align: center;
    float: right;
    margin-left: 15px;

	/*Chrome, Safari, Opera*/
	/*display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;*/

	/* Internet Explorer 10 */
	/*display:-ms-flexbox;
	-ms-flex-pack:center;
	-ms-flex-align:center;*/

	/* Firefox */
	/*display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;*/

	cursor: pointer;
}
#message_email {
	float: right;
}
#save_changes {
	margin: 10px;
}
/*#edit-profile:hover {
	cursor: pointer;
}*/

#profile-info {
	margin: 0;
	border-bottom: 1px solid black;
}
#profile-info ul{
	padding: 0;
}
#profile-info ul li{
	display: inline;
}
#initials {
	font-family: Garamond, Verdana;
	font-size: 1.7em;
	font-weight: bold;
    margin: 0;
}
#myCourses {
	font-size: 1.4em;
	float: left;
	margin-top: 10px;
}

/*Courses blocks*/
.brick {
    float: left;
    width: 580px;
    height: 200px;
    margin: 20px 20px;
    text-align: justify;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 1em;
    color: #242424;
    background: gray;
    /*transition: 0.4s ease;.*/
    overflow: hidden;
}
#bricks{
    float: left;
    top: 10px;
    margin-top: 100px;
}
.brick_wrapper {
    float: left;
}
.course_image {
    width: 243px;
    height: 162px;
    margin: 20px 10px;
    float: left;
    background-color: gray;
}
.course_name {
    margin: 18px 10px 10px;
    font: bold 17px Garamond;
    text-transform: uppercase;
    text-decoration: underline;
}
.course_description {
    width: 306px;
    height: 105px;
    overflow: hidden;
    float: left;
    margin: 15px auto 0 auto;
}

/* Books Wrapper */
.book {
    margin:10px;
    padding:10px;
    display:inline-block;
    cursor:pointer;
}
.book:hover {
    box-shadow:0 0 5px 1px rgba(80,174,255,0.7);
    transition:.5s;
}
.book-cover {
    width:100px;
    height:150px;
    background-color:#666;
}
.book p {
    padding:0;
    margin:0;
}
.book-category {
    margin-top:15px;
    font-size:2em;
    font-weight:700;
}
.book-title {
    font-weight:700;
}
.book-author {
    font-size:.8em;
    font-weight:100;
    color:rgba(0,0,0,0.6);
}

/*Vova's stuff*/
input#_upload{
    background-image: url("../img/ok.png");
    margin-top: 30px;
    margin-right: 8px;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    position: relative;
    opacity: 1;
    right: 0px;
}

input#file1{
    width: 180px;
    height: 50px;
    position:relative;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
}
.wrap_form{
    width: 180px;
    height: 50px;
    position: absolute;
    opacity: 1;
    vertical-align: middle;
    text-align: center;
}
.pic_file{
    width: 180px;
    height: 50px;
    position: relative;
    opacity: 1;
    vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    z-index: 1000;
}

input#_cancel{
    background-image: url("../img/not-ok.png");
    margin-top: 30px;
    margin-left: 8px;
    width: 54px;
    height: 54px;
    border-radius: 100%;
    position: relative;
    opacity: 1;
    left: 0px;
}

input#image{
    position: relative;
    width:200px;
}

.pop{
    top: 0;
    left: 0;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: auto;
    z-index: 1;

}

.img{
    margin: 200px auto auto auto;
    width: 400px;
    height: 170px;
    padding: 10px;
    background-color: #b0bac5;
    border-radius: 80px;
    box-shadow: 0 0 100px 1px skyblue;
    border: 5px solid #1b61d6;
    z-index: 1000;
    direction: ltr;
}

.img2{
    margin: 200px auto auto auto;
    width: 400px;
    height: 130px;
    padding: 10px;
    background-color: #b0bac5;
    border-radius: 80px;
    box-shadow: 0 0 50px 1px skyblue;
    border: 5px solid #1b61d6;
    z-index: 1000;
    direction: ltr;
}

.wrap-img2{
    margin-top: 25px;
    vertical-align: middle;
    text-align: center;
}

.file_wrap{
    margin-top: 40px;
    vertical-align: middle;
    text-align: center;
}

.wrap_text{
    vertical-align: middle;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.wrap_text2{
    vertical-align: middle;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}

.params{
    max-height: 200px;
    width: 200px;
}

.hidden{
    display:none;
}

.upload-colour{
    background-color: #5bb75b;
    color: #fff;
    text-shadow: 0 -1px 0;
    border: 2px solid orange;
}

.slider_wrap{
    height: 45px;
    position: absolute;
    bottom: 0%;
    float: left;
    width: 200px;
    overflow: hidden;
}

.slider_img{
    text-align: center;
    padding-top: 12px;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    color: #FFF;
    float: left;
    left: 0;
    width: 200px;
    height: 45px;
    opacity: 0;

}

#owner_wrap{
    position: absolute;
    max-height: 200px;
    margin-left: 20px;
    margin-right: 30px;
    width: 200px;
}

.profile-courses-image{
    height: 162px;
    width: 243px;
}


/*Modal window*/
h1 { font-size: 1.2em; margin: .6em 0; }
/*
#edit_profile_modal .text { margin-bottom:12px; width: 95%; padding: 4px; }
fieldset { padding:0; border:0; margin-top:25px; }
.ui-dialog .ui-state-error { padding: .3em; }
#validateTips { border: 1px solid transparent; padding: 0.3em; }
*/

