.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}



select {
    font-size: 0.9em;
}

#page_name {
    width: 1232px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    font-weight: bold;
}

#content_recommendations {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
}

#select_book {
    display: block;
    width: 580px;
    float: left;
    border-right: 1px solid #25a6c6;
}

#recommendation {
    display: block;
    width: 580px;
    float: left;
    margin-left: -1px;
    border-left: 1px solid #25a6c6;
}

#tabs-6 #content table {
    display: block;
    font-size: .95em;
}

#recommendation > table {
    table-layout: fixed;
    width: 520px;
    margin-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-collapse: collapse;
}

#recommendation caption {
    padding: 6px;
}

#recommendation table caption {
    font-size: 100%;
    font-weight: bold;
}
.level {
    width: 510px;
    padding-left: 10px;
    border-top: 1px solid #006196;
    border-bottom: 1px solid #006196;
    background-color: #98dbeb;
}

#recommendation table tr td table {
    margin-top: -1px;
    table-layout:fixed;
    border-collapse: collapse;
}
.table-container {
    padding: 0px
}
#recommendation table tr td table tbody tr td {
    width: 510px;
    padding-left: 10px;
}

.books_in_level td {
    border-top: 1px solid #006196;
    margin: 0;
    border-left: 0px;
    border-right: 0px;
}

#select_user_course {
    padding: 6px;
    padding-right: 7px;
    margin-right: 10px;
    width: 257px;
}

#select_book_level {
    padding: 6px;
}

#books_table input {
    border: 1px solid black;
}

#books_table {
    margin-top: 15px;
}

#books_table th  {
    border-top: 1px solid #006196;
    text-align: left;
}

#books_table td {
    border-top: 1px solid #006196;
}

#books_table .title {
    width: 278px;
}
#books_table .author {
    width: 180px;
}

#books_table tr:nth-child(odd) {
    background-color: #98dbeb;
}

input[type=button] {
    margin-top: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1em;
    color: #d6d6d6;
    cursor: pointer;
    background-color: #25a6c6;
    border: 0px;
    border: 1px solid #ffffff;
}

input[type=button]:hover {
    color: #25a6c6;
    background-color: #ffffff;
    border: 1px solid #25a6c6;
}

#commit_changes {
    margin-left: 60px;
}

#clear_all {
    margin-left: 40px;
}