#cource_name {
    height: 60px;
    border: 1px solid #25a6c6;
    background: #f2f2f2;
    font: 40px Verdana;
    color: #006196;
    padding: 10px 0 0 10px;
    vertical-align: middle;
    margin-bottom: 30px;
}
input {
	font-size: 1.2em;
	border: 1px solid #25a6c6;
    width: 270px;
}
.ButtonAdmin {
	padding: 5px 10px;
    border: 1px solid #25a6c6;
    width: 100px;
	background: #25a6c6;
	color: #d6d6d6;
	font-size: 1em;
	font-weight: bold;
    text-align: center;
}
.ButtonAdmin:hover {
	background: #98dbeb;
	color: #000;
    border: 1px solid #25a6c6;
    cursor: pointer;
}
.ButtonAdmin:active {
	background: #fff;
}
#dialog-form {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: auto;
    margin-bottom: 50px;
    border: 1px solid #25a6c6;
    padding: 10px 0 20px 10px;
}
