#tabs-3 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    padding: 10px;
}

a, button, select, input[type="radio"], input[type="button"] {
    cursor: pointer;
}

select#get_by_lecture, select#lecture_id, select.answer-correct {
	height: 1.5em;
	font-size: .75em;
}

input#lecture_name {
	font-size: 1em;
	height: 1em;
}

#add_test {
    /*border: solid 1px blue;*/
}

#manage_test_wrapper {
    width: 1240px;
    margin: auto;
}

#manage_test_wrapper fieldset {
    position: relative;
    background-color: white;
    border: 1px solid #25a6c6;

}

legend {
    padding: 2px 10px;
    background-color: #25a6c6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 2px rgba(0, 0, 0, 0.1) inset;
    color: #d6d6d6;
}

.add-answer {
    margin-left: 15px;
    margin-top: 5px;
}

.answer-wrapper {
    padding: 5px 15px;
    margin-top: 5px;
    margin-left: 15px;
}

.question-wrapper {
    background-color: #ffffff;
    border: 1px solid #25a6c6;
    width: 400px;
    padding: 20px;
    margin: 15px;
}

/* buttons */
.tests_button {
    background: rgb(38,167,199);
    border-color: rgb(38,167,199);
    display: inline-block;
    color: #d6d6d6;
    font-size: 1em;
    padding: 6px;
    text-decoration: none;
	vertical-align: middle;
}

.tests_button:hover {
    background: rgba(38,167,199, .85);
    border-color: rgba(38,167,199, .65);
}

.tests_button:active {
    position: relative;
    top: 1px;
}
.tests_button:disabled {
    background: #979797;
    border-color: #979797;
}

#tests-table {
    padding: 5px;
}

table#tests-table {
    border-collapse: collapse;
    width: 100%;
}

table#tests-table thead th {
    border-bottom: 2px solid #000000;
}

#tests-table td, th {
    padding-left: 5px;
    vertical-align: top;
}

.response-answer-wrapper table {
    border-collapse: collapse;
}

.table-control {
    color: #1b61d6;
    text-decoration: underline;
}

.table-control a:visited {
    color: #1b61d6;
    text-decoration: underline;
}

#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-size: 100%;
    color: white;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 193, 24, 0.8);
}

#message span {
    text-align: center;
    width: 95%;
    float: left;
}

#message-error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 105;
    text-align: center;
    font-size: 100%;
    color: white;
    padding: 10px 0 10px 0;
    background-color: rgba(255, 0, 0, 0.8);
}

#message-error span {
    text-align: center;
    width: 95%;
    float: left;
}


/* tests top container */
#tests_top_container {
    /*background-color: #1b61d6;*/
    padding: 20px;
    position: relative;

}
.tests_top_container {
    display: inline-block;
}


/* tests container */
.tests_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

/* tests left container */
#tests_left_container {
    /*background-color: goldenrod;*/
    padding: 5px;
    text-align: center;

    width: 190px;
}
.tests_left_container_controls {
    display: block;
    margin: 10px auto;
}

#tests_left_container_controls select{
    font-size: 0.75em;
    height: 1.5em;
}

/* tests main container */
#tests_main_container {
    /*background-color: crimson;*/
    width: 1000px;
    position: relative;
}


/* add test style */
#add_test_details {
    padding: 20px;
}

.highlight_error {
    border-color: red;
    outline: none;
    box-shadow: 0 0 3px 1px red;
    transition:1s;
}

.highlight_select_error {
    border: 3px solid red;
}

/* view tests */
.save_lecture, .cancel_lecture_edit, .test_question_answer_remove, .test_question_add_answer, .test_add_question, .test_question_remove_question {
    display: none;
}

/* dialog window */
.ui-dialog  {
    position: fixed;
}