#test_wrapper {
    border: 1px solid #25a6c6;
    padding: 50px;
}

.course_container {
    margin-bottom: 35px;
}
#search_results_header {
    font-size: 1.8em;
    text-align: center;
}

.tests_category_name {
    padding-top: 20px;
    font-size: 1.6em;
    font-weight: bold;
    color: #25a6c6;
}
.tests_category_name span {
    color: #000000;
    font-weight: lighter;
}

.tests_course_name {
    font-size: 1.4em;
    font-weight: bold;
    color: #25a6c6;
}
.tests_course_name span {
    color: #000000;
    font-weight: lighter;
}

.tests_lecture {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    color: #25a6c6;
    display: inline;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.tests_lecture span {
    color: #000000;
    font-weight: lighter;
}

.header_tests {
    width: 100%;
    float: left;
}

ul.header_tests {
    color: #000000;
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
    background-color: lightgray;
    margin: 0;
    padding: 5px;

}
ul.header_tests li {
    display: inline;
    list-style-type: none;
}
ul.header_tests li.header_test_name {
    width: 200px;
    padding: 0 110px 0 0 ;
}
ul.header_tests li.header_test_description {
    width: 400px;
    padding: 0 270px 0 0 ;
}
ul.header_tests li.header_test_final {
    width: 80px;
    padding: 0 50px 0 0 ;
}
ul.header_tests li.header_test_active {
    width: 80px;
    padding: 0 10px 0 0 ;
}

.test_name {
    max-width: 200px;
    min-width: 200px;
    display: inline-block;
}
.test_name span {
    max-width: 200px;
    min-width: 200px;
    display: inline-block;
}
.test_description {
    max-width: 400px;
    min-width: 400px;
    display: inline-block;
}
.test_description span {
    max-width: 400px;
    min-width: 400px;
    display: inline-block;
}

.test_final {
    width: 100px;
    color: #000000;
    display: inline-block;
}
.test_active {
    width: 100px;
    color: #000000;
    display: inline-block;
}

.test_edit_actions {
    display: inline-block;
}
.test_remove_actions {
    display: inline-block;
}


.test_questions {
    margin-top: 25px;
    margin-left: 100px;
}
.header_questions {
    width: 100%;
    float: left;
}
ul.header_questions {
    color: #000000;
    font-style: italic;
    font-weight: lighter;
    font-size: 1em;
    background-color: lavenderblush;
    margin: 0;
    padding: 5px;

}
ul.header_questions li {
    display: inline;
    list-style-type: none;
}
ul.header_questions li.header_test_question_name {
    width: 200px;
    padding: 0 110px 0 0 ;
}
ul.header_questions li.header_test_question_answer_text {
    width: 350px;
    padding: 0 250px 0 0 ;
}
ul.header_questions li.header_test_question_answer_correct {
    width: 80px;
    padding: 0 50px 0 0 ;
}

.test_question_name_text span {
    padding: 10px;
    max-width: 400px;
    min-width: 400px;
    display: inline-block;
}
.test_question_answer_text {
    margin-left: 250px;
    display: inline-block;
    max-width: 300px;
    min-width: 300px;

}
.test_question_answer_correct {
    margin-left: 100px;
    display: inline-block;
    max-width: 100px;
    min-width: 100px;
}




#search-test {
    width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 10px;
    z-index: 100;
    position: relative;
    border: 1px solid #25a6c6;
}

#search-test label {
    font-size: 1.2em;
    vertical-align: middle;
}

#search_test_content {
    float: right;
}


#search_test_field {
    width: 305px;
    height: 31px;
    border: 1px solid #25a6c6;
    margin-left: -6px;
    margin-right: -7px;
    font-size: 1.2em;
    vertical-align: middle;
}

#search_test_option {
	height: 35px;
	font-size: 1em;
	border-radius: 1px;
    vertical-align: middle;
    -webkit-appearance: menulist;
    background-color: white;
}




#search-results {
    display: none;
    width: 960px;
    margin: -30px auto 20px auto;
    z-index: 1000;
    border: 1px solid #25a6c6;
    padding: 20px;
    position: static;
}

#search-results a {
    background-color: #000000;
    color: white;
}
#search-results p {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0;
}
