#cource_name {
    height: 60px;
    border: 1px solid #25a6c6;
    background: #f2f2f2;
    font: 40px Verdana;
    color: #006196;
    padding: 10px 0 0 10px;
    vertical-align: middle;
    margin-bottom: 30px;
}
.tabbed_box {  
    margin: 65px auto 0px auto;   
} 

 .tabbed_box_lectures {  
    margin: 30px auto 0px auto;   
} 

ul.tabs, ul.tabs_courses {
    float: left;
    width: 260px;
    display: block;
    position: relative;
    top: 0;
    margin: auto 0 !important;
    padding:0;
    text-decoration: none;
}
ul.tabs li {
    list-style:none; 
}

ul.tabs_courses li {
    list-style:none; 
}

ul.tabs li .tab {
    /*background-color:#ffffff;*/
    color:#282e32;
    font-size:1.1em;
    font-family:Verdana;
    border:1px solid #25a6c6;
    display: inline-block;
    margin-left: 5px;
    width: 230px;
    list-style-type: none;
    display: block;
    position: relative;
    padding: 10px 15px;
    margin-top: -1px;
}
ul.tabs li .tab:hover {
    background-color:#98dbeb;
}
ul.tabs li .tab.active {
    background-color:#98dbeb;
    border:1px solid #25a6c6; 
    border-bottom: 1px solid #25a6c6;
    margin-left: 0;
    font-weight:bold;
    width: 235px;
}

ul.tabs_courses li .tab_course {
    /*background-color:#ffffff;*/
    color:#282e32;
    font-size:1.1em;
    font-family:Verdana;
    border:1px solid #25a6c6;
    display: inline-block;
    margin-left: 5px;
    width: 230px;
    list-style-type: none;
    display: block;
    position: relative;
    padding: 10px 15px;
    margin-top: -1px;
}
ul.tabs_courses li .tab_course:hover {
    background-color:#98dbeb;
}
ul.tabs_courses li .tab_course.active {
    background-color:#98dbeb;
    border:1px solid #25a6c6; 
    border-bottom: 1px solid #25a6c6;
    margin-left: 0;
    font-weight:bold;
    width: 235px;
}


.content {
    background-color:#ffffff;
    padding:10px;
    border:1px solid #25a6c6;   
    font: 14px Verdana;
    margin-left: 266px;
    position: relative;
    /*padding: 15px 15px 30px 15px;*/
    text-align:justify;
}
.hidden_tab { display:none; }
.edit_cat {
    font-size: .75em;
    float: right;
    font-style: italic;
    position: relative;
    top: -40px;
    z-index: 1;
    line-height: 150%;
    width: 40px;
	right: 0px;
}
.edit_cat a {
    text-decoration: underline;
}
.edit_cat a:hover {
    font-weight:bold;
    cursor: pointer;
}
.edit_category .drop_category {
    display: inline;
    color:black;
    font-family:Verdana;
    border:0;
    margin-left: 5px;
    width: 20px;
    list-style-type: none;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
}
.category_name {
    border:1px solid #25a6c6;
    background-color:rgba(255,0,0,0);
    width: 165px;
    margin: 0;
    margin-top: -1px;
    margin-bottom: -1px;
    color: black;
}
.clear_input {
    border:0;
    cursor: pointer;
    
}
.admin-color-pick-edit {
    position: relative;
    float: right;
    margin-top: -36px;
    width: 25px;
    height: 27px;
    border: 1px solid #25a6c6;
    z-index: 100;
    right: 47px;
}

.teacher-color-pick {
    position: relative;
    float: right;
    margin-top: -36px;
    width: 25px;
    height: 27px;
    border: 1px solid #25a6c6;
    z-index: 100;
    right: 7px;
}

.edit_course, .edit_lecture {
    text-decoration: underline;
}

.edit_lecture {
    margin-right: 10px;
}
.change_course_status {
    display: block;
    text-decoration: underline;
}
.edit_course:hover, .edit_lecture:hover {
    font-weight:bold;
    cursor: pointer;
}
.change_course_status:hover {
    font-weight:bold;
    cursor: pointer;
}

.change_lecture_status {
    text-decoration: underline;
}
.change_lecture_status:hover {
    font-weight:bold;
    cursor: pointer;
}