{% extends "base.jinja2" %}
{% block title %}About Us{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/courses.css') }}">

{% endblock %}
{% block content %}
<div class="centr" >
	<div id="page_name">About Learning Today</div>
	<div class="about_wrapper">
		<h2> What We Do </h2>

		<p>Learning Today is an education company. But not one in the way you might think. We're committed to building the best learning experience inside and out, making Learning Today the best place for our team to learn, teach, and create the online learning experience of the future.</p>

		<p>Education is old. The current public school system dates back to the 19th century and wasn't designed to scale the way it has. Lots of companies are working to "disrupt" education by changing the way things work in the classroom and by bringing the classroom online.</p>

		<p>We're not one of those companies. We are rethinking education from the bottom up. The web has rethought nearly everything - commerce, social networking, healthcare, and more. We are building the education the world needs - the first truly net native education. We take more cues from Facebook and Zynga in creating an engaging educational experience than we do from the classroom.</p>

		<p>We do not want to open up universities. We want to open up knowledge. Everyone knows something they can teach someone else and we want to help them do it. Our community has created tens of thousands of courses and taken millions of courses. At this point, more than a billion lines of code have been submitted to Learning Today.</p>

	</div>

</div><!--End of content-->
{% endblock %}