<div id="manage_users_wrapper">
{% block head %}
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/sortable.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/addUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/editUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/removeUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/searchUser.js') }}"></script>
{% endblock %}
<div id="action_header">
    <a class="ButtonAdmin" id="add_user">Add user</a>

    <div class="right">
        <div>
            <select name="search_key" id="search_key">
                <option value="login">Login</option>
                <option value="f_name">First Name</option>
                <option value="l_name">Last Name</option>
                <option value="status_id">Status</option>
                <option value="role_id">Role</option>
                <option value="email">Email</option>
            </select>
            <input type="text" name="search_value" id="search">
            <button class="ButtonAdmin button_search" id="button_search" type="edit">User search</button>
        </div>
    </div>
</div><!--End of action header-->

<div id="action_select">
    <select id="choosed_action">
        <option value="choose_action">Choose action</option>
        <option value="activate">Activate</option>
        <option value="deactivate">Deactivate</option>
    </select>
    <button id="action_ok" class="ButtonAdmin">OK</button>
</div><!--End of action select-->

<TABLE id="UsersTable" class="tables sortable">
    <thead>
    <tr>
        <!-- <TH>Id</TH> -->
        <TH><input id="selectAll" type="checkbox"></TH>
        <TH>#</TH>
        <TH>Username</TH>
        <TH>First name</TH>
        <TH>Last name</TH>
        <TH>E-mail</TH>
        <TH>Group</TH>
        <TH>Active</TH>
        <TH>Edit</TH>
        <TH>Change Status</TH>
    </tr>
    </thead>
    {% for user in users_list %}
        <TR id="{{ user.id }}" class="currentUser">
            <!-- <TD name="id">{{ user.id }}</TD> -->
            <TD><input class="select_one" type="checkbox"></TD>
            <TD name="number">{{ users_list.index(user)+1 }}</TD>
            <TD name="login">{{ user.login }}</TD>
            <TD name="f_name">{{ user.f_name }}</TD>
            <TD name="l_name">{{ user.l_name }}</TD>
            <TD name="email">{{ user.email }}</TD>
            <TD name="role_id">{{ user.role_id }}</TD>
            <TD name="status_id">{% if user.status_id == 1 %}yes{% elif user.status_id == 2 %}no{% endif %}</TD>
            <TD>
                <button class="editUser">Edit</button>
            </TD>
            <TD>
                <button class="removeUser" {% if user.role_id == 'admin' %}disabled="disabled"{% endif %}>{% if user.status_id == 1 %}Deactivate{% elif user.status_id == 2 %}Activate{% endif %}</button>
            </TD>
        </TR>
    {% endfor %}
</TABLE><!--End of action users table-->

<!-- Add user modal -->
<div id="dialog-form-add" class="dialog-form" title="Create new user">
    <p class="validateTips"></p>

    <form id="form_add_user" class="dialog-form" method="post" action="{{ request.application_url }}/add/user/">
    <fieldset>
        <label for="name">Username</label>
        <input type="text" name="login" id="username" class="text ui-widget-content ui-corner-all" />

        <label for="name">First name</label>
        <input type="text" name="f_name" id="fName" class="text ui-widget-content ui-corner-all" />

        <label for="name">Last name</label>
        <input type="text" name="l_name" id="lName" class="text ui-widget-content ui-corner-all" />

        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />

        <label for="password">Password</label>
        <input type="password" name="password" id="pass1" value="" class="text ui-widget-content ui-corner-all" />

        <label for="password">Repeat password</label>
        <input type="password" name="password_repeat" id="pass2" value="" class="text ui-widget-content ui-corner-all" />

        <input type="text" name="hash" id="hash" hidden/>
    </fieldset>
    </form>
</div><!--End of add user modal-->

<!-- Edit user modal -->
<div id="dialog-form-edit" class="dialog-form" title="Edit user">
    <p class="validateTips" name="validateTips"></p>

    <form id="form_edit_user">
    <fieldset>
        <label for="login">Username</label>
        <input type="text" name="login" id="username" class="text ui-widget-content ui-corner-all" />

        <label for="f_name">First name</label>
        <input type="text" name="f_name" id="fName" class="text ui-widget-content ui-corner-all" />

        <label for="l_name">Last name</label>
        <input type="text" name="l_name" id="lName" class="text ui-widget-content ui-corner-all" />

        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />

        <label for="role">Role</label>
        <select id="selectedRole" class="text ui-corner-all" name="role">
            {% for role in roles_list %}
            <option value="{{ role.id }}">{{ role.name }}</option>
            {% endfor %}
        </select>

    </fieldset>
    </form>
</div><!--End of edit user modal-->
</div>