{% extends "base.jinja2" %}
{% block title %}Admin page{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/admin.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/jquery_ui.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/vtabsAdmin.css') }}">

    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/tests.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/tests_search.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/recommendations.css') }}">

    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/feedback.css') }}">

    <script src="{{ request.static_url('learningtoday:static/js/colorPicker.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/tabs.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/adminPage/service.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/input_check.js') }}"></script>

    {% if utils.role_is_admin() %}
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/sortable.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/setup_users.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/addUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/editUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/removeUser.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/searchUser.js') }}"></script>

    <script src="{{ request.static_url('learningtoday:static/js/adminPage/feedback.js') }}"></script>

    <script src="{{ request.static_url('learningtoday:static/js/adminPage/addcategory.js') }}" type="text/javascript"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/changecategorystatus.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/editcategory.js') }}"></script>
    {% endif %}

    {% if utils.role_is_teacher() %}
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/addcourse.js') }}" type="text/javascript"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/editcourse.js') }}" type="text/javascript"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/searchcourse.js') }}" type="text/javascript"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/changecoursestatus.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/tests/tests.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/tests/tests_add.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/tests/tests_view.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/tests/tests_edit.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/tests/tests_search.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/nicEdit.js') }}" type="text/javascript"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/lectures.js') }}"></script>
	<script src="{{ request.static_url('learningtoday:static/js/profile/subscribefile.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/recommendations.js') }}"></script>
    {% endif %}
    <script src="{{ request.static_url('learningtoday:static/js/profile/uploadfile.js') }}"></script>



{% endblock %}
{% block content %}
    <div class="centr" id="content">
        <p id="page_name">Admin panel</p>

        <div id="tabs">
            <ul>
                {% if utils.role_is_admin() %}
                <li id="manage_users"><a href="#tabs-1">Manage Users</a></li>
                <li id="manage-comments"><a href="#tabs-4">Manage Comments</a></li>
                {% endif %}
                <li><a href="#tabs-2">Manage Courses</a></li>
                {% if utils.role_is_teacher() %}
                <li id="manage-tests"><a href="#tabs-3">Manage Tests</a></li>
                <li id="manage-lectures"><a href="#tabs-5">Manage Lectures</a></li>
				<li id="manage-recomendations"><a href="#tabs-6">Manage Recomendations</a></li>
                {% endif %}
            </ul>

            {% if utils.role_is_admin() %}
            <div id="tabs-1">

                <!-- Add user -->
                <div id="dialog-form-add" class="dialog-form" title="Create new user">
                    <p id="validateTips_add"></p>

                    <form id="form_add_user" class="dialog-form" method="post" action="{{ request.application_url }}/add/user/">
                    <fieldset>
                        <label for="name">Username</label>
                        <input type="text" name="login" id="username_add" class="text ui-widget-content ui-corner-all" />

                        <label for="name">First name</label>
                        <input type="text" name="f_name" id="fName_add" class="text ui-widget-content ui-corner-all" />

                        <label for="name">Last name</label>
                        <input type="text" name="l_name" id="lName_add" class="text ui-widget-content ui-corner-all" />

                        <label for="name">Email</label>
                        <input type="text" name="email" id="email_add" value="" class="text ui-widget-content ui-corner-all" />

                        <label for="password">Password</label>
                        <input type="password" name="password" id="pass1_add" value="" class="text ui-widget-content ui-corner-all" />

                        <label for="password">Repeat password</label>
                        <input type="password" name="password_repeat" id="pass2_add" value="" class="text ui-widget-content ui-corner-all" />

                        <input type="password" name="hash" id="hash" hidden/>
                    </fieldset>
                    </form>
                </div>

                <div id="dialog-form-edit" class="dialog-form" title="Edit user">
                    <p id="validateTips_edit" name="validateTips"></p>

                    <form id="form_edit_user">
                    <fieldset>
                        <label for="login">Username</label>
                        <input type="text" name="login" id="username_edit" class="text ui-widget-content ui-corner-all" />

                        <label for="f_name">First name</label>
                        <input type="text" name="f_name" id="fName_edit" class="text ui-widget-content ui-corner-all" />

                        <label for="l_name">Last name</label>
                        <input type="text" name="l_name" id="lName_edit" class="text ui-widget-content ui-corner-all" />

                        <label for="email">Email</label>
                        <input type="text" name="email" id="email_edit" value="" class="text ui-widget-content ui-corner-all" />

                        <label for="role">Role</label>
                        <select id="selectedRole" class="text ui-corner-all" name="role">
                            <option value="1">Admin</option>
                            <option value="2">Teacher</option>
                            <option value="3">Student</option>
                        </select>

                    </fieldset>
                    </form>
                </div>

                <!--End add user div-->
            </div>

            <div id="tabs-4">
                <div id="dialog-comment-add" class="dialog-form" title="Create new comment">
                    <p class="validateTips" id="tip"></p>

                    <form id="form_add_comment" class="dialog-form" method="post" action="{{ request.application_url }}/add/user/">
                    <fieldset>
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" required/>

                        <label for="body">Body</label>
                        <textarea name="body" id="body" class="text ui-widget-content ui-corner-all" rows="3" maxlength="500" required></textarea>

                        <label for="lecture">Lecture</label>
                        <select id="selectedLecture" class="text ui-corner-all" name="lecture">
                        </select>

                    </fieldset>
                    </form>
                </div>
            </div>
            {% endif %}

            <div id="tabs-2">

                {% if utils.role_is_teacher() %}
                <a class="ButtonAdmin" id="add_course">Add course</a>
                {% endif %}

                <div class="right">
                    <form>
                        <select name="course_search_key" id="#search_course_key">
                            <option value="author_id">Author</option>
                            <option value="name">Name</option>
                            <option value="description">Description</option>
                        </select>
                        <input type="text" name="search_value" id="search_course_text" class="search_course">
                        <input type="button" class="ButtonAdmin button_search" id="search_course" value="Course search" />
                    </form>
                </div>
                <!-- vertical tabs  -->
                <div class="tabbed_box" id="v-nav">

                <ul class="tabs">
                    {% if utils.role_is_admin() %}
                    <li id="new"><input type="text" placeholder="New category" id="new_category">
                    <div class="admin-color-pick-add clickable"> </div>
                    <button class="ButtonAdmin" id="add_category_button"> + </button>
                    <select name="add_category_list" class="category_dropdown">
                            <option selected="true" style="display:none;">Select category</option>
                            {% for lib_category in available_lib_categories %}
                                <option value="lib_category_{{ lib_category.id }}">{{ lib_category.name }}</option>
                            {% endfor %}
                    </select>
                    </li>
                    {% endif %}
                    
                    {% for category in categories_list %}
                    <li><a title="category_{{ category.id }}" {% if categories_list.index(category) == 0 %}
                        class="tab active"
                        {% else %}
                        class="tab"
                        {% endif %}><input type="text" value="{{ category.name }}" class="category_name clear_input" readonly></a>
                        {% if utils.role_is_admin() %}
                        <div class="admin-color-pick-edit" style="background-color: {{category.color}}" disabled="disabled"> </div>
                        {% else %}
                        <div class="teacher-color-pick" style="background-color: {{category.color}}" disabled="disabled"> </div>
                        {% endif %}
                        {% if utils.role_is_admin() %}
                        <div class="edit_cat" id="{{ category.id }}">
                        <a class="edit_category">edit</a>
                        <a class="drop_category">{% if category.deleted == 0 %}delete{% elif category.deleted == 1 %}restore{% endif %}</a>
                        </div>
                        {% endif %}
                    </li>
                    {% endfor %}

                </ul>

                {% for category in categories_list %}

                <div id="category_{{ category.id }}" class="content"
                    {% if categories_list.index(category) == 0 %}
                        style="display: block"
                        {% else %}
                        style="display: none"
                        {% endif %}  >


                    {% for course in courses_list %}
                    {% if category.id == course.category_id %}
                    <div class="course_description" id="course_{{ course.id }}">
                            <div class="course_image"><img id="avatar{{course.id}}" class="avatars" src="/static/img/courses_img/{{ course.image }}"> </div>
                            <div class="course_header">
                            <p class="course_name">{{ course.name }}</p>
                            <p class="course_author">by: {{ course.author }}</p>
                            <p class="course_text">{{ course.description }}</p>
                            </div>
                        <div class="right course_right">
                        {% if utils.role_is_teacher() %}
                        <a class="edit_course {{ course.id }}">edit</a>
                        {% endif %}
                        <a class="change_course_status">{% if course.deleted == 0 %}deactivate{% elif course.deleted == 1 %}activate{% endif %}
                        </a></div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

                {% endfor %}

                </div>

                <!-- end of vertical tabs  -->
                {% if utils.role_is_teacher() %}
                <div id="courses-dialog-add" class="dialog-form" title="Course add">
                  <p class="validateTips" id="course_validate_tips"></p>

                  <form id="form-add-course">
                  <fieldset>
                    <input type="hidden" name="id" value="">
                    <label for="name">Category</label>
                    <select name="category_id" id="add-course-category-selector">
                        {% for category in categories_list %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="name">Name</label>
                    <input id="course_name" type="text" name="name" class="text ui-widget-content ui-corner-all" />

                    <label for="description">Description</label>
                    <textarea id="course_value" name="description" class="text ui-widget-content ui-corner-all" rows="3" maxlength="400"></textarea>
                    <input type="file" name="course_img" id="course-img-add">

                  <!--  <label for="name">Image</label>
                    <input type="file" name="image" accept="image/*" class="text ui-widget-content ui-corner-all" /> -->

                  </fieldset>
                  </form>
                </div>

                <div id="courses-dialog-edit" class="dialog-form" title="Course edit">
                  <p class="validateTips" id="course_validate_tips"></p>

                  <form id="form-edit-course">
                  <fieldset>
                    <input type="hidden" name="id" value="">

                    <label for="name">Name</label>
                    <input type="text" name="name" class="text ui-widget-content ui-corner-all" />

                    <label for="description">Description</label>
                    <textarea name="description" class="text ui-widget-content ui-corner-all" rows="3" maxlength="400"></textarea>
                    <label for="name">Image</label>
                    <input  id="photo_course_"type="file" name="image" accept="image/*" class="text ui-widget-content ui-corner-all" />
                  </fieldset>
                  </form>
                </div>
                {% endif %}

            </div>

            {% if utils.role_is_teacher() %}
            <div id="tabs-3">
            </div>

			<div id="tabs-5">
			</div>

            <div id="tabs-6">
                <div id="content_recommendations" class="clearfix">
                    <div id="select_book">
                        Courses:
                        <select id="select_user_course">
                        {% for course in user_courses %}
                            {% if first_course.id == course.id %}
                                <option value="{{course.id}}" selected>{{course.name}}</option>
                            {% else %}
                                <option value="{{course.id}}">{{course.name}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        Levels:
                        <select id="select_book_level">
                            {% for level in range(0, 10) %}
                                <option value="{{level*10}}">{{level*10}}</option>
                            {% endfor %}
                        </select>
                        <table id="books_table" cellpadding="6" cellspacing="0">
                            <tr id="books_table_header">
                                <th>Title</th>
                                <th>Author</th>
                                <th>Select</th>
                            </tr>
                            {% for book in books %}
                                <tr id="book_{{book.id}}">
                                    <td class="title">{{book.title}}</td>
                                    <td class="author">{{book.author}}</td>
                                    <td class="options"><input type="checkbox" /></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="button" id="commit_changes" value="Commit changes">
                        <input type="button" id="clear_all" value="Clear all">
                    </div>

                    <div id="recommendation">
                        <table cellpadding="6" cellspacing="0">
                        <caption>Recommendation:</caption>
                            {% for item in recommendations|dictsort %}
                            <tr id="level_{{item[0]}}" class="level">
                                <td class="level">Level: {{item[0]}} </td>
                            </tr>
                            <tr>
                            <td class="table-container">
                            <table  cellpadding="6" cellspacing="0">
                            {% for book in item[1] %}
                                <tr id="recommend_book_{{book[0]}}" class="books_in_level">
                                    <td class="recommend_book_title">{{book[1]}}<span>   </span>({{book[2]}})</td>
                                </tr>
                            {% endfor %}
                            </table>
                            </td>
                            </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            {% endif %}


        </div>
    </div>
{% endblock %}