<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %} | Learning Today</title>
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/header.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/footer.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/base.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/jquery_ui.css') }}">
    <script type="text/javascript"
            src="{{ request.static_url('learningtoday:static/js/Home/jquery-1.10.2.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/jquery-ui.js') }}"></script>
    <!-- <link rel="icon" type="image/ico" href="{{ request.static_url('learningtoday:static/img/favicon.ico') }}"> -->
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/modals/nice_alert.js') }}"></script>
    {% block head %}
        <meta charset="utf-8"/>
        <meta http-equiv="cache-control" content="no-cache">
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <noscript>
       <p>Sorry, but this website depends on JavaScript.
       Please ensure you are using a browser which supports
       JavaScript and has it enabled.</p>

       <p>We recommend <a href="http://www.google.com/chrome/">Chrome</a> or
       <a href="http://getfirefox.com/">Firefox</a>. Other JavaScript
       capable browsers are available.</p>
    </noscript>
    {% include "header.jinja2" %}
    {% block search %}{% endblock %}
    {% block content %}{% endblock %}
    <div class="push"></div>
</div>
{% include "footer.jinja2" %}
</body>
</html>