{% extends "base.jinja2" %}
{% block title %}Courses{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/courses.css') }}">

{% endblock %}
{% block content %}
<div class="centr" >
	<div id="page_name">Courses</div>

<!-- 	<div id="bricks"> -->
		{% for course in courses_list %}
		{% if course.deleted == 0 %}
		<a href="/course/{{ course.id }}">
			<div class="brick" style="background-color: {{ course.color }};">
				<div class="course-image"><img class="image_profile profile-courses-image" src="/static/img/courses_img/{{ course.image }}"></div>
				<div class="course_name">{{ course.name }}</div>
				<div class="course-description">{{ course.description }}</div>
			</div>
		</a>
		{% endif %}

		{% endfor %}
	<!-- </div> -->
</div><!--End of content-->
{% endblock %}