
{% for com in comments %}
    {% if com.active == 1 %}
    <div class="comment_header">
    <div class="comment_author_details"><img class="user_image" src="/static/img/user_img/{{ com.user_photo }}">
    <p class="comment_author">{{ com.user_name }}</p>

    </div>
        <p class="comment_name">{{ com.title }} to {{ com.lecture_id }}</p>
        <p class="comment_text">{{ com.body }}</p>
        <p class="comment_author" id="date">{{ com.creation_date }}</p>
    </div> 
    {% endif %}
{% endfor %}


