{% extends "base.jinja2" %}
{% block title %}{{ course.name }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/course.css') }}">
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/tabs.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/adminPage/feedback.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/course/subscribe.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/course/course.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/tests/tests.js') }}"></script>


{% endblock %}

{% block content %}
    <div class="centr" id="content">
        <div class="course" id="{{ course.id }}"><p class="course_title">{{ course.name }}</p>
        <div class="right">
            {% if subscribe %}
            <a class="Button" id="subscribe">Subscribe now!</a>
            {% elif not subscribe %}
            <p class="subscribed">You are subscribed for this course</p>
            {% endif %} 
        </div>
        </div>
        
        <div class="tabbed_box" id="v-nav">  
            <ul class="tabs">
                <li id="new"><a href="#" title="description" class="tab active">Course Description</a></li>
                    {% for lecture in lectures %}

                <li><a href="#" title="lecture_{{ lecture.id }}" class="tab">Lecture_{{ lectures.index(lecture)+1 }}</a></li>  

                    {% endfor %}
                <li><a title="final_test" class="tab">Final Exam</a></li>
                <li><a title="feedbacks" class="tab">Feedbacks</a></li>
            </ul> 

            <div id="description" class="content">
                <p class="course_description">{{ course.description }}</p>
                </br>
                <table>
                    <tr>
                        <TH>Lecture</TH>
                        <TH>Topic</TH>
                    {% for lecture in lectures %}

                    </tr>
                    <tr>
                        <td>{{ lectures.index(lecture)+1 }}</td>
                        <td>{{ lecture.title }}</td>
                    </tr>
                    {% endfor %}
                </table>
                </br>
                <div class="navi">
                    <a href="#" id="feedback_link">Read feedbacks</a>
                </div>
                <div class="navi"></div>
                <div class="navi">
                    <a href="#" id="test_link">Pass final test</a>
                </div>
            </div>  
                {% for lecture in lectures %}
            <div id="lecture_{{ lecture.id }}" class="content hidden_tab">  
                <p class="lecture_title">{{ lecture.title }}</p>
                <div class="lecture_{{ lecture.id }}" id="lecture_body_lecture_{{ lecture.id }}">
                    {{ lecture.body|safe }}
                </div>
                <div class="test lecture_{{ lecture.id }} display_none" id="test_lecture_{{ lecture.id }}">

                    <!-- {% for t in tests %}

                        {{ t[0].name }}<br/>
                        {% for q in t[0].questions[0] %}
                        <form class="test_question">
                            <p class="question_title">Question {{loop.index}}</p>
                            <p>{{ q.question }}</p>
                            {% for a in q.answers %}
                                <input type="checkbox">{{ a.answer }}<br>
                            {% endfor %}
                        </form>
                        {% endfor %}
                    {% endfor %}
                <a class="ButtonAdmin">Submit</a> -->
                </div>

                </br>
                </br>
                <div class="navi">
                    {% if lectures.index(lecture) == 0 %}
                    <a href="#" id="first_lecture">read description</a>
                    {% else %}
                    <a href="#" id="previous_lecture">previous lecture</a>
                    {% endif %}
                </div>
                <div class="navi">
                    {% if lectures.index(lecture) == lectures|length-1 %}
                    {% else %}
                    <a href="#" id="lecture_test">pass lecture test</a>
                    {% endif %}
                </div>
                <div class="navi">
                    {% if lectures.index(lecture) == lectures|length-1 %}
                    <a href="#" id="final_lecture">pass final test</a>
                    {% else %}
                    <a href="#" id="next_lecture">next lecture</a>
                    {% endif %}
                </div>
            </div>    
            {% endfor %} 
            <div id="final_test" class="final_test content hidden_tab">
                <div class="lecture_title">{{ course.name }}: test</div>
                <div class="confirm_test" id="test_{{ lectures|length }}">
                <p>Do you want to pass final test now?</p>
<!--                 <form class="test_question">
                    <p class="question_title">Question 1:</p>
                    <p>What does the fox say?</p>
                    <input type="checkbox">Ring-ding-ding-ding-dingeringeding!<br>
                    <input type="checkbox">ow ow ow ow ow<br>
                    <input type="checkbox">Wa-pa-pa-pa-pa-pa-pow!<br>
                    <input type="checkbox">Hatee-hatee-hatee-ho!<br>
                    <input type="checkbox">blub<br>
                </form>
                <form class="test_question">
                    <p class="question_title">Question 2:</p>
                    <p>What would you say when you fill flustrated?</p>
                    <input type="checkbox">okay<br>
                    <input type="checkbox">fffffuuuuuu!!<br>
                    <input type="checkbox">f*ck yea<br>
                    <input type="checkbox">me gusta<br>
                </form> -->
                <a class="ButtonAdmin" id="pass_final">Pass test</a>
                </div>
            </div>
            <div id="feedbacks" class="content hidden_tab">
                <p class="lecture_title">{{ course.name }}: feedbacks</p>
                <div id="comments_wrapper">
                    
                </div>
                <p>Add your coment</p>
                    <div class="comment_header">
                    <div class="comment_author_details"><img class="user_image" src="/static/img/user_img/{{ user_details.photo }}">
                    <p class="comment_author">{{ utils.authenticated_userid() }}</p>
                    </div>
                <div id="form_add_comment">
                    <input placeholder="Title" type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" maxlength="70" required/>

                    <label for="lecture">to</label>
                    <select id="selectedLecture" class="text ui-corner-all" name="lecture">
                        {% for lecture in lectures %}
                            {% if lecture.course_id == course.id %}
                            <option value="{{ lecture.id }}">{{ lecture.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </br>
                    <textarea placeholder="Body" name="body" id="body"class="text ui-widget-content ui-corner-all" rows="5" maxlength="500" required></textarea>
                    </br>
                    <div class="tips_wrapper">
                        <p class="validateTips" id="tip"></p>
                    </div>
                    <button type="submit" id="submit_comment" class="ButtonAdmin">Submit</button>
                </div>

<!--                 <p class="lecture_title">{{ course.name }}: feedbacks</p>

                {% for com in comments %}
                    {% if com.active == 1 %}
                    <div class="comment_header">
                    <div class="comment_author_details"><img class="user_image" src="/static/img/user_img/{{ com.user_photo }}">
                    <p class="comment_author">{{ com.user_name }}</p>

                    </div>
                        <p class="comment_name">{{ com.title }} to {{ com.lecture_id }}</p>
                        <p class="comment_text">{{ com.body }}</p>
                        <p class="comment_author" id="date">{{ com.creation_date }}</p>
                    </div> 
                    {% endif %}
                {% endfor %}
                <p>Add your coment</p>
                    <div class="comment_header">
                    <div class="comment_author_details"><img class="user_image" src="/static/img/user_img/{{ user_details.photo }}">
                    <p class="comment_author">{{ utils.authenticated_userid() }}</p>
                    </div>
                
                <form id="form_add_comment" method="post" action="{{ request.application_url }}/add/user/">
                    <input placeholder="Title" type="text" name="title" id="title" class="text ui-widget-content ui-corner-all" required/>

                    <label for="lecture">to</label>
                    <select id="selectedLecture" class="text ui-corner-all" name="lecture">
                    <option selected="true">Select lecture</option>
                        {% for lecture in lectures %}
                            {% if lecture.course_id == course.id %}
                            <option value="{{ lecture.title }}">{{ lecture.title }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    </br>
                    <textarea placeholder="Body" name="body" id="body"class="text ui-widget-content ui-corner-all" rows="5" maxlength="500" required></textarea>
                    </br>
                    <p class="validateTips" id="tip"></p>
                    <button type="submit" id="submit_comment" class="ButtonAdmin">Submit</button>
                </form> -->

            </div>
    </div>
</div>
{% endblock %}