<div id="lectures_wrapper">
	{% for lecture in lectures %}
                    <div class="lecture_description" id="lecture_{{ lecture.id }}">
                            <div class="lecture_header">
                                <label for="number_edit" class="label_lec lecture_author">Number in course:</label>
                                <input type="text" class="number_saved" value="{{ lecture.number_in_course }}. " readonly>
                                <p class="validation"></p>
                                <label for="lecture_name_edit" class="label_lec lecture_author">Lecture title:</label> 
                                <input type="text" class="lecture_name_saved" value="{{ lecture.title }}" readonly>
                                <div class="max_lines">{{ lecture.body|safe}}</div>
                                <textarea name="lecture_area_{{ lecture.id }}" class="lecture_text" id="lecture_area_{{ lecture.id }}">{{ lecture.body }}</textarea>
                            </div>
                        <div class="right course_right">
                        <a class="edit_lecture {{ lecture.id }}">edit</a>
                        <a class="change_lecture_status">{% if lecture.deleted == 0 %}deactivate{% elif lecture.deleted == 1 %}activate{% endif %}
                        </a></div></div>
                    </div>
                    {% endfor %}

</div>