{% extends "base.jinja2" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/sign_up.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/admin.css') }}">
    
    <script src="{{ request.static_url('learningtoday:static/js/signup.js') }}"></script>
{% endblock %}

{% block content %}
<div class="centr" id="content">
<div id="cource_name">Please, fill the form to start course</div>

<div id="dialog-form">
    <p class="validateTips"></p>

    <label for="name">Username</label> </br>
    <input type="text" name="login" id="username" class="text ui-widget-content ui-corner-all" autofocus="autofocus" required/> </br>

    <label for="name">First name</label> </br>
    <input type="text" name="f_name" id="fName" class="text ui-widget-content ui-corner-all" required/> </br>

    <label for="name">Last name</label> </br>
    <input type="text" name="l_name" id="lName" class="text ui-widget-content ui-corner-all" required/> </br>

    <label for="email">Email</label> </br>
    <input type="text" name="email" id="email" class="text ui-widget-content ui-corner-all" required/> </br>

    <label for="password">Password</label> </br>
    <input type="password" id="pass1" class="text ui-widget-content ui-corner-all" required/> </br>

    <label for="password">Repeat password</label> </br>
    <input type="password" id="pass2" class="text ui-widget-content ui-corner-all" required/> </br>

    <input id="butSubmit" class="ButtonAdmin" value="Sign Up" readonly="True" />
</div>
</div>
{% endblock %}