<html>
<head>
</head>
<body>
<form id="form" method="post" action="{{ request.application_url }}/edit/category">
    Library Category Change:
    <select name="library_id">
        {% for category in book_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="id" value="{{ category_details.id }}">
    <input type="text" name="name" placeholder="name: {{ category_details.name }}">
    <button type="submit">Submit</button>
</form>
</body>
</html>
