<html>
<head>
</head>
<body>
<form id="form" method="post" action="{{ request.application_url }}/edit/user">
    <input type="hidden" name="id" value="{{ user_details.id }}">
    <input type="text" name="login" placeholder="login: {{ user_details.login }}">
    <input type="text" name="f_name" placeholder="f_name: {{ user_details.f_name }}">
    <input type="text" name="l_name" placeholder="l_name: {{ user_details.l_name }}">
    <input type="text" name="email" placeholder="email: {{ user_details.email }}">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password_repeat" placeholder="Repeat password">
    <input type="hidden" name='hash'>
    <button type="submit">Submit</button>
</form>
</body>
</html>
