<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="cache-control" content="no-cache">
<script src="{{ request.static_url('learningtoday:static/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ request.static_url('learningtoday:static/js/adminPage/service.js') }}" type="text/javascript"></script>
<script src="{{ request.static_url('learningtoday:static/js/adminPage/addCourse.js') }}" type="text/javascript"></script>
</head>
<style>
.input_error{
    border-color: red;
    color: red;
}
</style>
<body>
<form id="add_course_form">
    Category:
    <select name="category_id">
        {% for category in category_list %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">
    <input type="text" name="image" placeholder="image">
    <input type="button" id="go" value="Add"/>
</form>
</body>
</html>
