<div id="test_wrapper">
    {% for lecture in lectures %}
    <div class="tests_lecture">
        {{ lecture.lecture_name }}
        <div class="test_lecture_id" style="visibility: hidden">{{ lecture.lecture_id }}</div>
        <ul class="header_tests">
            <li class="header_test_name">Test Name</li>
            <li class="header_test_description">Test Description</li>
            <li class="header_test_final">Test Final</li>
            <li class="header_test_active">Test Active</li>
        </ul>

        <div class="test_container">
            <div class="test_name"><span>{{ lecture.name }}</span></div>
            <div class="test_description"><span>{{ lecture.description }}</span></div>
            <div class="test_final">{{ lecture.final }}</div>
            <div class="test_active">{{ lecture.active }}</div>
            <div class="test_edit_actions">
                <input class="edit_lecture" id="edit_{{ lecture.lecture_id }}" type="button" value="edit">
                <input class="save_lecture" id="save_{{ lecture.lecture_id }}" type="button" value="save">
            </div>
            <div class="test_remove_actions">
                <input class="remove_lecture" id="remove_{{ lecture.lecture_id }}" type="button" value="remove">
                <input class="cancel_lecture_edit" id="cancel_{{ lecture.lecture_id }}" type="button" value="cancel">
            </div>
            <div class="test_questions">
                <ul class="header_questions">
                    <li class="header_test_question_name">Question Name</li>
                    <li class="header_test_question_answer_text">Answer Name</li>
                    <li class="header_test_question_answer_correct">Answer Correct</li>
                </ul>
                {% for question in lecture.questions %}
                <div class="test_question">
                    <div class="test_question_name">
                        <div class="test_question_name_text"><span>{{ question.question }}</span></div>

                        {% if lecture.questions.index(question) >= 1 %}
                            <input class="test_question_remove_question" type="button" value="remove question">
                        {% endif %}
                    </div>
                    <div class="test_question_answers">
                        {% for answer in question.answers %}
                        <div class="test_question_answer">
                            <div class="test_question_answer_text"><span>{{ answer.answer }}</span></div>
                            <div class="test_question_answer_correct">{{ answer.correct }}</div>
                            {% if question.answers.index(answer) >= 2 %}
                            <input class="test_question_answer_remove" type="button" value="remove answer">
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <input class="test_question_add_answer" type="button" value="add answer">

                </div>
                {% endfor %}
            </div>
            <input class="test_add_question" type="button" value="add question">
        </div>
    </div>
    {% endfor %}
</div>
