<html>
<head>
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/library.css') }}">
    <script type="text/javascript"
            src="{{ request.static_url('learningtoday:static/js/Home/jquery-1.10.2.js') }}"></script>
    <script type="text/javascript"
            src="{{ request.static_url('learningtoday:static/js/library/library.js') }}"></script>
</head>
<body>

<div id="main">
    <div id="search-book-wrapper">
        <div id="search-book-content">
            <select id="search-book-key">
                <option value="author_id">Author</option>
                <option value="title">Title</option>
            </select>
            <input type="text" id="search-book-value">
            <button id="search-book-submit">Book search</button>
        </div>
    </div>
    <div class="content" id="books">
        <div id="book-wrapper">
            {% for category in categories %}
                <div class="book-container">
                    <div class="book-category">{{ category.name }}</div>
                    <div class="book-list">
                        {% for book in books_list %}
                            {% if book.category_id == category.name %}
                                <div class="book">
                                    <div class="book-cover"></div>
                                    <p class="book-title">{{ book.title }}</p>

                                    <p class="book-author">{{ book.author_id }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content" id="sidebar">
        <div id="account">
            <p id="account-login">{{ utils.authenticated_userid() }}</p>

            <p id="account-title">QUICK LINKS</p>
            <ul>
                <li>Account</li>
                <li>Currenly Renting</li>
                <li>Recommendation List</li>
                <li>Popular Books</li>
                <li id="add-category">Add Category</li>
                <li id="add-author">Add Author</li>
                <li id="add-book">Add Book</li>
                <li id="edit-books">Edit Books</li>
            </ul>
        </div>
        <div id="category">
            <p id="category-title">CATEGORIES</p>
            <ul>
                <li id="category-active">All Categories</li>
                {% for category in categories %}
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>



</div>
<div id='message' style="display: none;">
    <span></span>
</div>


</body>
</html>