<p id="search-results-header">Search results:</p>
{% for category in book_categories %}
    <div class="book-container">
        <div class="book-category">{{ category.name }}</div>
        <div class="book-list">
            {% for book in search_results %}
                {% if book.category_id == category.name %}
                    <div class="book">
                        <div class="book-cover"></div>
                        <p class="book-title">{{ book.title }}</p>

                        <p class="book-author">{{ book.author_id }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endfor %}
