<div id="add-book-form">
    Category:
    <select id="add-book-category">
        {% for category in book_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <br/>
    Author:
    <select id="add-book-author">
        {% for author in book_authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
    </select>
    <br/>
    <input id="add-book-title" type="text" placeholder="title">
    <br/>
    <input id="add-book-amount" type="text" placeholder="amount">
    <br/>
    <button id="add-book-submit">Add</button>
</div>
