<div id="manage_test_wrapper">


    <div id="tests_top_container">
        <button class="tests_button tests_top_container" id="add_test_button">Add Test</button>
        <div class="tests_top_container" id="search_test_content">
            <select id="search_test_option">
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="question">Question</option>
                <option value="answer">Answer</option>
            </select>

            <input type="text" id="search_test_field"/>
            <button class="tests_button" id="search_test_button">Search</button>
        </div>
    </div>
    <div class="tests_container" id="tests_left_container">
        <div id="tests_left_container_controls">
            <select class="tests_left_container_controls" name="select_category" id="select_category">
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select class="tests_left_container_controls" name="select_course" id="select_course" disabled>
                <option value="">Select Course</option>
            </select>
            <select class="tests_left_container_controls" name="select_lecture" id="select_lecture" disabled>
                <option value="">Select Lecture</option>
            </select>
            <button class="tests_button tests_left_container_controls" id="view_test_button" disabled>View</button>
        </div>
    </div>
    <div class="tests_container" id="tests_main_container"></div>


{#    <fieldset id="view-tests">#}
{#        <legend>View available tests</legend>#}
{#        <label for="get_by_lecture">Lecture: </label>#}
{#        <select name="lecture_id" id="get_by_lecture">#}
{#            <option value="">-- Select --</option>#}
{#            {% for lecture in lectures %}#}
{#                <option value="{{ lecture.id }}">{{ lecture.title }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{##}
{#        <table id="tests-table">#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Name</th>#}
{#                <th>Description</th>#}
{#                <th>Final</th>#}
{#                <th>Active</th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#                <th></th>#}
{#            </tr>#}
{#            </thead>#}
{##}
{#        </table>#}
{##}
{#    </fieldset>#}

</div>
<div id='message' style="display: none;">
    <span></span>
</div>
<div id='message-error' style="display: none;">
    <span></span>
</div>