<div id="add-category-form">
    Add category:
    <input type="text" id="add-category-name" placeholder="name">
    Active?
    <input type="checkbox" id="add-category-active" value="1">
    <button id="add-category-submit">Add</button>
</div>