<html>
<head>
</head>
<body>
<form id="form" method="post" action="{{ request.application_url }}/add/category/">
    Library Category:
    <select name="id">
        {% for category in book_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <input type="text" name="name" placeholder="name">
    Active?
    <input type="checkbox" name="deleted" value="1">
    <button type="submit">Add</button>
</form>
</body>
</html>
