<tr class="currentUser">
    <td><input class='select_one' type='checkbox'></td>
    <td>{{ id }}</td>
    <td>{{ login }}</td>
    <td>{{ f_name }}</td>
    <td>{{ l_name }}</td>
    <td>{{ email }}</td>
    <td>{{ role_id }}</td>
    <td>{{ status_id }}</td>
    <td><button class='editUser'>Edit</button></td>
    <td><button class='removeUser'>Deactivate</button></td>
</tr>