{% extends "base.jinja2" %}
{% block title %}Log In{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/log_in.css') }}">

    <script type="text/javascript"
            src="{{ request.static_url('learningtoday:static/js/Home/sign_in_valid.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('learningtoday:static/js/Home/jquery_js.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="centr" id="content">
        <div id="cource_name">
        {% if message %}
            {{ message }}
        {% endif %}
        </div>

        <div id="form_div">
            <form method="POST" action="{{ request.application_url }}/login">
                <input type="text" name="login" placeholder="Login" required/>
                <input type="password" id="password" name="password" placeholder="Password" required/>
                <input type="hidden" id="hash" name="hash"/> </br>
                <button type="submit" id="submit_login" class="ButtonAdmin">Submit</button>
            </form>
        </div>
    </div>

{% endblock %}