<div id="add_test">

    <fieldset id="add_test_details">
        <legend>Details</legend>
        <div id="select_test_lecture_id">
            <select class="add_test_container_controls" name="select_category" id="add_test_category_id">
                <option value="">Select Category</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <select class="add_test_container_controls" name="select_course" id="add_test_course_id" disabled>
                <option value="">Select Course</option>
            </select>
            <select class="add_test_container_controls" name="select_lecture" id="add_test_lecture_id" disabled>
                <option value="">Select Lecture</option>
            </select>
        </div>
        <input type="text" name="name" id="add_test_name" placeholder="Test Name">
        <input type="text" name="description" id="add_test_description" placeholder="Test Description">
        <fieldset class="add_test_final">
            <legend>Final?</legend>
            <label><input type="radio" id="final_yes" name="add_test_final" value="true" disabled="disabled">Yes</label>
            <label><input type="radio" id="final_no" name="add_test_final" value="false" checked>No</label>
        </fieldset>

        <fieldset class="add_test_active">
            <legend>Active?</legend>
            <label><input type="radio" id="active_yes" name="add_test_active" value="true">Yes</label>
            <label><input type="radio" id="active_no" name="add_test_active" value="false" checked>No</label>
        </fieldset>
    </fieldset>
    <fieldset id="add_test_questions">
        <legend>Create questions and answers</legend>
        <div id="add_test_questions_wrapper">
            <div class="question_container">
                <input type="text" name="name" class="question_name" placeholder="Question Name">

                <div class="answer_wrapper">
                    <div class="answer_container">
                        <input type="text" name="name" class="answer_name" placeholder="Answer Name">
                        <select class="answer_correct">
                            <option value="false">false</option>
                            <option value="true">true</option>
                        </select>
                        <br/>
                    </div>
                    <div class="answer_container">
                        <input type="text" name="name" class="answer_name" placeholder="Answer Name">
                        <select class="answer_correct">
                            <option value="false">false</option>
                            <option value="true">true</option>
                        </select>
                        <br/>
                    </div>
                </div>
                <input type="button" value="+ answer" class="add_answer"/>
            </div>
        </div>
        <input type="button" value="Add question" class="add" id="add_question"/>
    </fieldset>

    <input type="button" value="Submit test" id="submit_question" />
</div>