<html>
<head>
</head>
<body>
<form id="form" method="post" action="{{ request.application_url }}/edit/book">
    <input type="hidden" name="id" value="{{ book_details.id }}">
    Category:
    <select name="category_id">
        {% for category in book_categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    Authors:
    <select name="author_id">
        {% for author in book_authors %}
            <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
    </select>
    <input type="text" name="title" placeholder="title: {{ book_details.title }}">
    <input type="text" name="amount" placeholder="amount: {{ book_details.amount }}">
    <input type="submit" value="Submit" />
</form>
</body>
</html>