<div id="books-edit">
        <TABLE BORDER=1>
            <thead>
            <tr>
                <TH>Id</TH>
                <TH>Category</TH>
                <TH>Author</TH>
                <TH>Title</TH>
                <TH>Amount</TH>
                <TH>Deleted</TH>
                <TH>Edit</TH>
                <TH>Change status</TH>
            </tr>
            </thead>
            {% for book in books_list %}
                <tr class="book_row">
                    <td name="id">{{ book.id }}</td>
                    <td name="category_id">{{ book.category_id }}</td>
                    <td name="author_id">{{ book.author_id }}</td>
                    <td name="title">{{ book.title }}</td>
                    <td name="amount">{{ book.amount }}</td>
                    <td name="deleted">{% if book.deleted == 1 %}no{% elif book.deleted == 2 %}yes{% endif %}</td>
                    <td>
                        <form method="post" action="{{ request.application_url }}/edit/book/{{ book.id }}">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <button type="button" class="book_status_change">
                            {% if book.deleted == 1 %}
                                Deactivate
                            {% elif book.deleted == 2 %}
                                Activate
                            {% endif %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </TABLE>
    </div>