<div id="test_wrapper">
    <div id="search_results_header">SEARCH RESULTS:</div>
    {% for search_results_key, search_results_value in search_results.iteritems() %}
        {% for test_category_key, test_category_value in search_results_value.iteritems() %}
            <div class="category_container">
                <div class="tests_category_name"><span>Category:</span> {{ test_category_key }}</div>
                {% for test_course_k, test_course_v in test_category_value.iteritems() %}
                    {% for test_course_key, test_course_value in test_course_v.iteritems() %}
                        <div class="course_container">
                            <div class="tests_course_name"><span>Course:</span> {{ test_course_key }}</div>
                            {% for test_lecture_k, test_lecture_v in test_course_value.iteritems() %}
                                {% for test_lecture_key, test_lecture_value in test_lecture_v.iteritems() %}
                                    <span style="display: inline">Lecture:</span><div class="tests_lecture">
                                        {{ test_lecture_key }}
                                        <div class="test_lecture_id"
                                             style="visibility: hidden">{{ test_lecture_value.lecture_id }}</div>
                                        <ul class="header_tests">
                                            <li class="header_test_name">Test Name</li>
                                            <li class="header_test_description">Test Description</li>
                                            <li class="header_test_final">Test Final</li>
                                            <li class="header_test_active">Test Active</li>
                                        </ul>

                                        <div class="test_container">
                                            <div class="test_name"><span>{{ test_lecture_value.name }}</span></div>
                                            <div class="test_description">
                                                <span>{{ test_lecture_value.description }}</span></div>
                                            <div class="test_final">{{ test_lecture_value.final }}</div>
                                            <div class="test_active">{{ test_lecture_value.active }}</div>
                                            <div class="test_edit_actions">
                                                <input class="edit_lecture"
                                                       id="edit_{{ test_lecture_value.lecture_id }}"
                                                       type="button"
                                                       value="edit">
                                                <input class="save_lecture"
                                                       id="save_{{ test_lecture_value.lecture_id }}"
                                                       type="button"
                                                       value="save">
                                            </div>
                                            <div class="test_remove_actions">
                                                <input class="remove_lecture"
                                                       id="remove_{{ test_lecture_value.lecture_id }}"
                                                       type="button"
                                                       value="remove">
                                                <input class="cancel_lecture_edit"
                                                       id="cancel_{{ test_lecture_value.lecture_id }}"
                                                       type="button"
                                                       value="cancel">
                                            </div>
                                            <div class="test_questions">
                                                <ul class="header_questions">
                                                    <li class="header_test_question_name">Question Name</li>
                                                    <li class="header_test_question_answer_text">Answer Name</li>
                                                    <li class="header_test_question_answer_correct">Answer Correct</li>
                                                </ul>

                                                {% for question in test_lecture_value.questions %}
                                                    <div class="test_question">
                                                    <div class="test_question_name">
                                                        <div class="test_question_name_text">
                                                            <span>{{ question.question }}</span>
                                                        </div>

                                                        {% if test_lecture_value.questions.index(question) >= 1 %}
                                                            <input class="test_question_remove_question" type="button"
                                                                   value="remove question">
                                                        {% endif %}
                                                    </div>
                                                    <div class="test_question_answers">
                                                        {% for answer in question.answers %}
                                                            <div class="test_question_answer">
                                                                <div class="test_question_answer_text">
                                                                    <span>{{ answer.answer }}</span>
                                                                </div>
                                                                <div class="test_question_answer_correct">{{ answer.correct }}</div>
                                                                {% if question.answers.index(answer) >= 2 %}
                                                                    <input class="test_question_answer_remove"
                                                                           type="button"
                                                                           value="remove answer">
                                                                {% endif %}
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <input class="test_question_add_answer" type="button"
                                                           value="add answer">
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <input class="test_add_question" type="button" value="add question">
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>