<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="cache-control" content="no-cache">
<script src="{{ request.static_url('learningtoday:static/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
<script src="{{ request.static_url('learningtoday:static/js/adminPage/service.js') }}" type="text/javascript"></script>
<script src="{{ request.static_url('learningtoday:static/js/adminPage/editCourse.js') }}" type="text/javascript"></script>
<style>
.input_error{
    border-color: red;
    color: red;
}
</style>
</head>
<body>
<form id="edit_course_form">
    <input type="hidden" name="id" value="{{ course_details.id }}">
    <select name="category_id">
        {% for course_category in course_categories %}
            <option value="{{ course_category.id }}">{{ course_category.name }}</option>
        {% endfor %}
    </select>
    Name: <input type="text" name="name" value="{{ course_details.name }}">
    Description: <input type="text" name="description" value="{{ course_details.description }}">
    Image: <input type="text" name="image" value="{{ course_details.image }}">
    <input type="button" id="go" value="Update" />
</form>
</body>
</html>
