<div id="feedback_tab">
        <div id="feed_header">          
        <a class="ButtonAdmin" id="add_comment">Add comment</a>
            <div id="right" class="right">
                    <select name="search_comment_key" id="search_comment_key">
                        <option value="title">Title</option>
                        <option value="body">Body</option>
                        <option value="user_id">Author</option>
                        <option value="lecture_id">Lecture</option>
                        <option value="active">Status</option>
                        <option value="creation_date">Date</option>
                    </select>
                    <div id="select_wrapper">
                        <input type="text" name="search_value" id="search_comment">
                    </div>
                    <button class="ButtonAdmin button_search" id="button_comment_search" type="edit">Search comment</button>
            </div>
        </div>
        <div id="action">
                    <select name="action" id="select_action">
                        <option selected="selected" value="approve">choose action</option>
                        <option value="activate">Activate</option>
                        <option value="deactivate">Deactivate</option>
                        <option value="ban">Ban author</option>
                        <option value="unban">Unban author</option>
                    </select>
                    <button class="ButtonAdmin button_action" id="button_action" type="edit">Apply</button>
            </div>
        <div id="comments_table_wrapper">
            <div>
                {% if number>1 %}
                <ul class="pages">
                    {% for n in range(1, number+1) %}
                        {% if n==page %}
                        <li><button class='page active_page'>{{n}}</button></li>
                        {% else %}
                        <li><button class='page'>{{n}}</button></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div id="table_c">
            <TABLE id="CommentsTable" class="tables">
                <thead>
                <tr>
                    <TH><input type="checkbox" id="main_check_box"></TH>
                    <TH class='title'>Comment title</TH>
                    <TH class='body'>Comment body</TH>
                    <TH class='date'>Creation date</TH>
                    <TH class='author'>Author</TH>
                    <TH class='lecture'>Lecture</TH>
                    <TH class='active'>Active</TH>
                    <TH class='status'>Change status</TH>
                    <TH class='ban'>Ban author</TH>
                    <TH class="com_id">ID</TH>
                </tr>
                </thead>
                {% for com in comments %}
                    <TR class="currentComment">
                        <TD><input type="checkbox" class="check_box"></TD>
                        <TD name="title">{{ com.title }}</TD>
                        <TD name="body">{{ com.body }}</TD>
                        <TD name="date">{{ com.creation_date }}</TD>
                        <TD class="author">{{ com.user_id }}</TD>
                        <TD name="lecture">{{ com.lecture_id }}</TD>
                        <TD name="active">{% if com.active == 1 %}yes{% elif com.active == 0 %}no{% endif %}</TD>
                        <TD>
                            <button class="removeComment">
                                {% if com.active == 1 %}
                                    Deactivate
                                {% elif com.active == 0 %}
                                    Activate
                                {% endif %}
                            </button>
                        </TD>
                        <TD>
                            <button class="banUser">
                                {% if com.active_user == 1 %}
                                    Ban
                                {% elif com.active_user == 2 %}
                                    Unban
                                {% endif %}
                            </button>
                        </TD>
                        <TD class="com_id">{{ com.id }}</TD>
                    </TR>
                {% endfor %}
            </TABLE>
            </div>
            <div>
                {% if number>1 %}
                <ul class="pages">
                    {% for n in range(1, number+1) %}
                        {% if n==page %}
                        <li><button class='page active_page'>{{n}}</button></li>
                        {% else %}
                        <li><button class='page'>{{n}}</button></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
            
</div>
