<div class="footer">
    <div class="centr" id="footer-center">
        <ul id="footer-left">
            <li><a href="{{ request.application_url }}/about">About us</a></li>
            <li><a href="{{ request.application_url }}/courses">Courses</a></li>
            <li><a href="{{ request.application_url }}/terms">Terms</a></li>
        </ul>
        <div id="footer-right">
            <p>Follow us:</p>
            <a href="#">
                <div class="follow_div" id="facebook"></div>
            </a>
            <a href="#">
                <div class="follow_div" id="twitter"></div>
            </a>
            <a href="#">
                <div class="follow_div" id="google"></div>
            </a>
        </div>
    </div>
</div>
