<div class="header">
    <div class="centr" id="header-centr">
        <a href="{{ request.application_url }}/"><div class="logo"></div></a>
        
        <ul id="header-right">
            <li><a href="{{ request.application_url }}/about">About us</a></li>
            <li><a href="{{ request.application_url }}/courses">Courses</a></li>
            |
            {% if not utils.authenticated_userid() %}
                <li><a class="sign" id="sig" href="#">Log in</a></li>
                     <div id="test" class="sign_wrapper clearfix">
                        <form id="form-0" name="signinform" method="post" action="{{ request.application_url }}/login">
                            <input id="log" type="text" name="login" maxlength="20"  placeholder="login" autofocus="autofocus" />
                            <input id="pass" type="password" name="password" placeholder="password" />
                            <input type="submit" id="form-0-submit" class="submit-button" type="password" name="Sbmit" value="Sign in!" style="width:338px" />      
                            <input id="hid" type="hidden" name="op_type" value="sign_in" />
                            <input id="hash_hidden" type="hidden" name="hash" />
                        </form>
            </div> 
                    <li><a href="{{ request.application_url }}/signup">Sign up</a></li>
            {% elif utils.authenticated_userid() %}
                {% if utils.has_permission('change') %}
                    <li><a href="{{ request.application_url }}/profile">{{ utils.authenticated_userid() }}</a>/<a href="{{ request.application_url }}/admin">Admin Panel</a></li>
                {% else %}
                    <li><a href="{{ request.application_url }}/profile">{{ utils.authenticated_userid() }}</a></li>
                {% endif %}
                
                <li><a href="{{ request.application_url }}/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
</div>