{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/home.css') }}">
    <script type="text/javascript" src="{{request.static_url('learningtoday:static/js/Home/sign_in_valid.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('learningtoday:static/js/Home/home.js')}}"></script> 
{% endblock %}
{% block search %}
    <div class="centr" id="content">
        <div class="main-banner">
            <div class="frontpage-search"> 
    <div id="search_bg">
        <input placeholder="Search courses" id="search" name="search" class="input"  onfocus="hide_text()" onblur="show_text()"/>
    </div>
    </div>
    </div>
{% endblock %}
{% block content %}
    <div id='main_box_container'>
         {% for box in boxes %}
                <form class="brick {{ box.sec_class }}" id="{{ box.div_id }}" style="background-color: {{ box.color }}">{{ box.description }}
                <p class="brick_bottom">{{ box.name }}</p>
                <p class="brick_new_bottom"> <<---BACK </p>
                </form>
        {% endfor %}   
    </div>
    </div>
{% endblock %}
