<div id="lectures_wrapper">
<div id="title_container">
<p id="add_lecture_title">Add lecture</p>
</div>
                    <div class="lecture_description" id="lecture">
                            <div class="lecture_header">
                                <label for="number_edit" class="label_lec lecture_author">Number in course:</label>
                                <input type="text" class="number_edit" placeholder="#" readonly>
                                <p class="validation"></p>
                                <label for="lecture_name_edit" class="label_lec lecture_author">Lecture title:</label> 
                                <input type="text" class="lecture_name_edit" placeholder="Write lecture title" readonly>
                                <textarea name="lecture_area" class="lecture_text" id="lecture_area"></textarea>
                            </div>
                        <div id="selection">
                            <label for="select_courses" id="label_courses" class="label_lec lecture_author">Choose course:</label> 
                            <select id="select_courses">
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="radio_buttons">
                        <input type="radio" name="group1" value="0" checked>Active<br>
                        <input type="radio" name="group1" value="1">Not active
                        </div>
                    </div>
                    <button id="save">Save</button>

</div>