<div id="lectures_tab">

<div id="feed_header">          
        <a class="ButtonAdmin" id="add_lecture">Add lecture</a>
            <div id="right" class="right">
                    <select name="search_lecture_key" id="search_lecture_key">
                        <option value="title">Title</option>
                        <option value="body">Body</option>
                        <option value="deleted">Status</option>
                    </select>
                    <div id="select_lecture_wrapper">
                        <input type="text" name="search_value" id="search_lecture">
                    </div>
                    <button class="ButtonAdmin button_search" id="button_lecture_search" type="edit">Search lecture</button>
            </div>
        </div>
    <!-- vertical tabs  -->
                <div class="tabbed_box_lectures" id="v-nav">
                <ul class="tabs_courses">
                    
                    {% for course in courses %}
                    <li><a title="course_lecture_{{ course.id }}" {% if courses.index(course) == 0 %}
                        class="tab_course active"
                        {% else %}
                        class="tab_course"
                        {% endif %}>
                        <img class='home_img' src='/static/img/courses_img/{{course.image}}'></img>
                        <input type="text" value="{{ course.name }}" class="category_name clear_input" readonly></a>
                    </li>
                    {% endfor %}

                </ul>

                {% for course in courses %}

                <div id="course_lecture_{{ course.id }}" class="content"
                    {% if courses.index(course) == 0 %}
                        style="display: block"
                        {% else %}
                        style="display: none"
                        {% endif %}  >


                

                </div>

                {% endfor %}

                </div>

                <!-- end of vertical tabs  -->

        
            
</div>
