{% extends "base.jinja2" %}
{% block title %}Profile{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/profile.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/jquery_ui.css') }}">
    <script src="{{ request.static_url('learningtoday:static/js/profile/profile.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/profile/uploadfile.js') }}"></script>
    <script src="{{ request.static_url('learningtoday:static/js/profile/subscribefile.js') }}"></script>
{% endblock %}
{% block content %}
<div id="content" class="centr" >
	<div id="desc">
		<div id="button">
			<!-- <a id="edit-profile" href="{{ request.application_url }}/profile/edit">Edit profile</a> -->
			<input id="edit_profile" class="edit_profile" type="button" value="Edit profile" />
            <input id="cancel_edit_profile" class="edit_profile" type="button" value="Cancel" hidden/>
            <input type="button" class="edit_profile" id="message_email" value="Subscribe!"/>
		</div>
		<div id="profile-info">
			<p id="initials">{{ user_details.f_name }} {{ user_details.l_name }}</p>

			<ul>
				<li><b>Username: </b><input id="login_info" class="clear_input " type="text" value="{{ user_details.login }}" readonly /></li>
				<li><b>E-mail: </b><input id="email_info" class="clear_input" type="text" value="{{ user_details.email }}" readonly /></li>
			</ul>
		</div>
		<div id="myCourses">My Courses</div>
	</div><!--End of desc-->

	<div id="owner_wrap" class="wrap">
        <img id="pic"  src="/static/img/user_img/{{ user_details.photo }}">
    <div class="slider_wrap wrap">
        <a href="#">
        <div class="slider_img wrap" style="background-image:url(../../../static/img/user_img/choos.jpg)">
        </div>
        </a>
    </div>
     </div>
<div class="pop">
    <div class="img">
        <div class="file_wrap">
            <div class="wrap_text">You can upload *.jpeg, *.jpg or *.png files</div>
                <div class="pic_file" style="background-image:url(../../../static/img/file_choose.png)">
                    <div class="wrap_form">
                         <form name="upload" enctype="multipart/form-data" id="test">
                               <input type="file" class="pic_file" id="file1">
                         </form>
                    </div>
                </div>


        </div>
    </div>
    <div class="img2">
        <div class="wrap-img2">
            <div class="wrap2_text">Upload your file?</div>
            <input type="button" value="" id="_upload">
            <input type="button" value="" id="_cancel">
        </div>
    </div>
</div>
	<div id="bricks">
		{% for course in courses_list %}
			{% if course.finished == 0 %}
				<a href="/course/{{ course.id }}">
					<div id="{{ course.id }}" class="brick" style="background-color: {{ course.color }};">
						<div class="course_image"><img class="image_profile" src="/static/img/courses_img/{{ course.image }}"></div>
                        <div class="brick_wrapper">
							<div class="course_name">{{ course.name }}</div>
							<div class="course_description">{{ course.description }}</div>
						</div>
					</div>
				</a>
			{% elif course.finished == 1 %}
				<div id="{{ course.id }}" class="brick" style="background-color: {{ course.color }};">
					<div class="course_image"><img class="image_profile" src="/static/img/courses_img/{{ course.image }}"></div>
					<div class="brick_wrapper">
						<div class="course_name">{{ course.name }}</div>
						<div class="course_description">{{ course.description }}</div>
						<a class="open_recomendations">Recomendations</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<!-- Modal window -->
    <!-- <div id="edit_profile_modal" class="dialog-form">
        <p id="validateTips"></p>

        <form id="form_add_user" class="dialog-form" method="post" action="{{ request.application_url }}/add/user/">
        <fieldset>
            <label for="login">Username</label>
            <input id="username" type="text" name="login"class="text ui-widget-content ui-corner-all" />

            <label for="email">Email</label>
            <input id="email" type="text" name="email" class="text ui-widget-content ui-corner-all" />
        </fieldset>
        </form>
    </div> -->

	<div id="recomends_modal" class="dialog-form">
    </div><!--End of modal-->
</div><!--End of content-->
{% endblock %}