<div id="books_wrapper">
	{% for book in books_list %}
		<div id="{{ book.id }}" class="book">
	        <div class="book-cover"></div>
	        <p class="book-title">{{ book.title }}</p>

	        <p class="book-author">{{ book.author }}</p>
	    </div>
	{% endfor %}
</div>