{% extends "base.jinja2" %}
{% block title %}Course{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/admin.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/recommendations.css') }}">
    <script src="{{ request.static_url('learningtoday:static/js/recommendations.js') }}"></script>

    
{% endblock %}
{% block content %}
<div id="page_name">Course recommendations</div>
<div id="content" class="clearfix">
    <div id="select_book">
        Courses:
        <select id="select_user_course">
        {% for course in user_courses %}
            {% if first_course.id == course.id %}
                <option value="{{course.id}}" selected>{{course.name}}</option>
            {% else %}
                <option value="{{course.id}}">{{course.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
        Levels:
        <select id="select_book_level">
            {% for level in range(0, 10) %}
                <option value="{{level*10}}">{{level*10}}</option>
            {% endfor %}
        </select>
        <table id="books_table" cellpadding="6" cellspacing="0">
            <tr id="books_table_header">
                <th>Title</th>
                <th>Author</th>
                <th>Select</th>
            </tr>
            {% for book in books %}
                <tr id="book_{{book.id}}">
                    <td class="title">{{book.title}}</td>
                    <td class="author">{{book.author}}</td>
                    <td class="options"><input type="checkbox" /></td>
                </tr>
            {% endfor %}
        </table>
        <input type="button" id="commit_changes" value="Commit changes">
        <input type="button" id="clear_all" value="Clear all">
    </div>
    
    <div id="recommendation">
        <table cellpadding="6" cellspacing="0">
        <caption>Recommendation:</caption>
            {% for item in recommendations|dictsort %}
            <tr id="level_{{item[0]}}" class="level">
                <td class="level">Level: {{item[0]}} </td>
            </tr>
            <tr>
            <td class="table-container">
            <table  cellpadding="6" cellspacing="0">
            {% for book in item[1] %}
                <tr id="recommend_book_{{book[0]}}" class="books_in_level">
                    <td class="recommend_book_title">{{book[1]}}<span>   </span>({{book[2]}})</td>
                </tr>
            {% endfor %}
            </table>
            </td>
            </tr>
                
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

