{% extends "base.jinja2" %}
{% block title %}Terms of Service{% endblock %}
{% block head %}
	{{ super() }}
    <link rel="stylesheet" href="{{ request.static_url('learningtoday:static/css/courses.css') }}">

{% endblock %}
{% block content %}
<div class="centr" >
	<div id="page_name">Terms of Service</div>
    <div class="about_wrapper">

		<h2>The gist:</h2>
		<p>We (Learning Today, Inc.) run an online service called Learning Today, found at www.Learning Today.com ("Website"). We’re excited for you to try it out. Everything on Learning Today is currently free, with premium services a possibility in the future. All of your Content (as defined below) can be shared with the public and may be shared automatically. Please be careful to review how all of your Content is being shared to ensure you are vigilant in protecting your privacy. If you have any questions, feel free to reach out to us.</p>
		<h2>Terms of Service:</h2>
		<p> The following terms and conditions govern all use of the website and all Content, services and products available at or through the Website. For purposes of these Terms of Service, the term “Content” includes, without limitation, videos, audio clips, written posts and comments, information, data, text, photographs, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible on or through this Website. The Website is owned and operated by Learning Today, Inc. (“Learning Today”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Learning Today’s Privacy Policy) and procedures that may be published from time to time on this Site by Learning Today (collectively, the “Agreement”).</p>
        <p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by Learning Today, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.</p>
        <ul class="numbers">
        <li>Your Account and Site. If you create an account on the Website, you are responsible for maintaining the security of your account and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must immediately notify Learning Today of any unauthorized uses of your account or any other breaches of security. Learning Today will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</li>
        <li>By submitting Content to Learning Today, you grant Learning Today a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your Content. If you delete Content, Learning Today will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</li>
        <li>From time to time, we may solicit users of the Website, including you, to contribute to and create new lessons and curriculum found on the Website (“Curriculum Contributions”). You hereby grant us the right to own all right, title and interest (including patent rights, copyright rights, trade secret rights, mask work rights, trademark rights, sui generis database rights and all other rights of any sort throughout the world) to any and all Curriculum Contributions you make to the Website, and you hereby make all assignments necessary to accomplish the foregoing ownership. To the extent allowed by law, you also agree to waive all rights of paternity, integrity, disclosure and withdrawal and any other rights that may be known as or referred to as “moral rights,” “artist’s rights,” “droit moral,” or the like with respect to any Curriculum Contributions you make.</li>
        <li>Without limiting any of those representations or warranties, Learning Today has the right (though not the obligation) to, in Learning Today’s sole discretion (i) refuse or remove any content that, in Learning Today’s reasonable opinion, violates any Learning Today policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in Learning Today’s sole discretion. Learning Today will have no obligation to provide a refund of any amounts previously paid.</li>
        <li>Copyright Infringement and DMCA Policy. As Learning Today asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by the Website violates your copyright, you are encouraged to notify Learning Today in accordance with Learning Today’s Digital Millennium Copyright Act (“DMCA”) Policy. Learning Today will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. Learning Today will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of Learning Today or others.</li>
        <li>Intellectual Property. This Agreement does not transfer from Learning Today to you any Learning Today or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with Learning Today. Learning Today, Learning Today, Learning Todayinc.com, the Website logo, and all other trademarks, service marks, graphics and logos used in connection with the Website are trademarks or registered trademarks of Learning Today or Learning Today licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any Learning Today or third-party trademarks.</li>
        <li>Advertisements. Learning Today reserves the right to display advertisements on Learning Today.</li>
        <li>Changes. Learning Today reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. Learning Today may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</li>
        <li>Termination. Learning Today may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your Website account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</li>
        <li>Disclaimer of Warranties. The Website is provided “as is”. Learning Today and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither Learning Today nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.</li>
        <li>Limitation of Liability. In no event will Learning Today, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to Learning Today under this agreement during the twelve (12) month period prior to the cause of action. Learning Today shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</li>
        <li>General Representation and Warranty. You represent and warrant that (i) your use of the Website will be in strict accordance with the Learning Today Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.</li>
        <li>Indemnification. You agree to indemnify and hold harmless Learning Today, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.</li>
        <li>Miscellaneous. This Agreement constitutes the entire agreement between Learning Today and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Learning Today, or by the posting by Learning Today of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Learning Today may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</li>
        </ul>
    </div>
</div><!--End of content-->
{% endblock %}